<section class="search-results">
    <div class="search-results__container">

        <div class="search-results__section">
            <div class="search-results__inner">

                <div class="search-results__header">
                    <div class="search-results__title-wrapper">
                        <h1 class="search-results__title">Результат пошуку за запитом:</h1>
                    </div>
                    <div class="search-results__subtitle-wrapper">
                        <p class="search-results__subtitle">"Тут потрібно відобразити запит користувача"</p>
                    </div>
                </div>

                <nav class="search-results__filter" role="navigation" aria-label="Фільтри результатів пошуку">
                    <p class="search-results__filter-label">Фільтр:</p>
                    <ul class="search-results__filter-list">
                        <li> <button class="search-results__filter-button search-results__filter-button--active"
                                type="button" aria-pressed="true"> <span class="search-results__filter-text">Всі
                                    результати</span> </button>
                        </li>
                        <li> <button class="search-results__filter-button" type="button" aria-pressed="false"> <span
                                    class="search-results__filter-text">Статті</span> </button> </li>
                        <li> <button class="search-results__filter-button" type="button" aria-pressed="false"> <span
                                    class="search-results__filter-text">Курси</span> </button> </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="search-results__section">
            <div class="search-results__content">
                <div class="search-results__content-wrapper">
                    <ul class="search-results__list">
                        <li class="card">
                            <div class="card__content">
                                <div class="card__image-wrapper">
                                    <div class="card__image-container"> <img class="card__image"
                                            src="img/img-min-news.png" alt="Зображення статті" /> </div>
                                </div>
                                <div class="card__body-wrapper">
                                    <div class="card__body">
                                        <div class="card__badge-wrapper"> <span class="card__badge"> <span
                                                    class="card__badge-text">categoryBadge</span> </span> </div>
                                        <div class="card__text-wrapper">
                                            <div class="card__text-inner">
                                                <div class="card__title-wrapper">
                                                    <h3 class="card__title"> Nascetur lorem malesuada eget luctus
                                                        hendrerit class
                                                        bibendum convallis aliquet senectus nibh quisque venenatis proin
                                                        cras sociosqu vitae </h3>
                                                </div>
                                                <div class="card__description-wrapper">
                                                    <p class="card__description"> Lorem ipsum dolor sit amet,
                                                        consectetur
                                                        adipiscing elit. Proin ligula diam, tempus ut egestas at,
                                                        blandit a neque. Nam consectetur urna nec ex... </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card">
                            <div class="card__content">
                                <div class="card__image-wrapper">
                                    <div class="card__image-container"> <img class="card__image"
                                            src="img/img-min-news.png" alt="Зображення статті" /> </div>
                                </div>
                                <div class="card__body-wrapper">
                                    <div class="card__body">
                                        <div class="card__badge-wrapper"> <span class="card__badge"> <span
                                                    class="card__badge-text">categoryBadge</span> </span> </div>
                                        <div class="card__text-wrapper">
                                            <div class="card__text-inner">
                                                <div class="card__title-wrapper">
                                                    <h3 class="card__title"> Nascetur lorem malesuada eget luctus
                                                        hendrerit class
                                                        bibendum convallis aliquet senectus nibh quisque venenatis proin
                                                        cras sociosqu vitae </h3>
                                                </div>
                                                <div class="card__description-wrapper">
                                                    <p class="card__description"> Lorem ipsum dolor sit amet,
                                                        consectetur
                                                        adipiscing elit. Proin ligula diam, tempus ut egestas at,
                                                        blandit a neque. Nam consectetur urna nec ex... </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card">
                            <div class="card__content">
                                <div class="card__image-wrapper">
                                    <div class="card__image-container"> <img class="card__image"
                                            src="img/img-min-news.png" alt="Зображення статті" /> </div>
                                </div>
                                <div class="card__body-wrapper">
                                    <div class="card__body">
                                        <div class="card__badge-wrapper"> <span class="card__badge"> <span
                                                    class="card__badge-text">categoryBadge</span> </span> </div>
                                        <div class="card__text-wrapper">
                                            <div class="card__text-inner">
                                                <div class="card__title-wrapper">
                                                    <h3 class="card__title"> Nascetur lorem malesuada eget luctus
                                                        hendrerit class
                                                        bibendum convallis aliquet senectus nibh quisque venenatis proin
                                                        cras sociosqu vitae </h3>
                                                </div>
                                                <div class="card__description-wrapper">
                                                    <p class="card__description"> Lorem ipsum dolor sit amet,
                                                        consectetur
                                                        adipiscing elit. Proin ligula diam, tempus ut egestas at,
                                                        blandit a neque. Nam consectetur urna nec ex... </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card">
                            <div class="card__content">
                                <div class="card__image-wrapper">
                                    <div class="card__image-container"> <img class="card__image"
                                            src="img/img-min-news.png" alt="Зображення статті" /> </div>
                                </div>
                                <div class="card__body-wrapper">
                                    <div class="card__body">
                                        <div class="card__badge-wrapper"> <span class="card__badge"> <span
                                                    class="card__badge-text">categoryBadge</span> </span> </div>
                                        <div class="card__text-wrapper">
                                            <div class="card__text-inner">
                                                <div class="card__title-wrapper">
                                                    <h3 class="card__title"> Nascetur lorem malesuada eget luctus
                                                        hendrerit class
                                                        bibendum convallis aliquet senectus nibh quisque venenatis proin
                                                        cras sociosqu vitae </h3>
                                                </div>
                                                <div class="card__description-wrapper">
                                                    <p class="card__description"> Lorem ipsum dolor sit amet,
                                                        consectetur
                                                        adipiscing elit. Proin ligula diam, tempus ut egestas at,
                                                        blandit a neque. Nam consectetur urna nec ex... </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card">
                            <div class="card__content">
                                <div class="card__image-wrapper">
                                    <div class="card__image-container"> <img class="card__image"
                                            src="/img/img-min-news.png" alt="Зображення статті" /> </div>
                                </div>
                                <div class="card__body-wrapper">
                                    <div class="card__body">
                                        <div class="card__badge-wrapper"> <span class="card__badge"> <span
                                                    class="card__badge-text">categoryBadge</span> </span> </div>
                                        <div class="card__text-wrapper">
                                            <div class="card__text-inner">
                                                <div class="card__title-wrapper">
                                                    <h3 class="card__title"> Nascetur lorem malesuada eget luctus
                                                        hendrerit class
                                                        bibendum convallis aliquet senectus nibh quisque venenatis proin
                                                        cras sociosqu vitae </h3>
                                                </div>
                                                <div class="card__description-wrapper">
                                                    <p class="card__description"> Lorem ipsum dolor sit amet,
                                                        consectetur
                                                        adipiscing elit. Proin ligula diam, tempus ut egestas at,
                                                        blandit a neque. Nam consectetur urna nec ex... </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card">
                            <div class="card__content">
                                <div class="card__image-wrapper">
                                    <div class="card__image-container"> <img class="card__image"
                                            src="img/img-min-news.png" alt="Зображення статті" /> </div>
                                </div>
                                <div class="card__body-wrapper">
                                    <div class="card__body">
                                        <div class="card__badge-wrapper"> <span class="card__badge"> <span
                                                    class="card__badge-text">categoryBadge</span> </span> </div>
                                        <div class="card__text-wrapper">
                                            <div class="card__text-inner">
                                                <div class="card__title-wrapper">
                                                    <h3 class="card__title"> Nascetur lorem malesuada eget luctus
                                                        hendrerit class
                                                        bibendum convallis aliquet senectus nibh quisque venenatis proin
                                                        cras sociosqu vitae </h3>
                                                </div>
                                                <div class="card__description-wrapper">
                                                    <p class="card__description"> Lorem ipsum dolor sit amet,
                                                        consectetur
                                                        adipiscing elit. Proin ligula diam, tempus ut egestas at,
                                                        blandit a neque. Nam consectetur urna nec ex... </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card">
                            <div class="card__content">
                                <div class="card__image-wrapper">
                                    <div class="card__image-container"> <img class="card__image"
                                            src="img/img-min-news.png" alt="Зображення статті" /> </div>
                                </div>
                                <div class="card__body-wrapper">
                                    <div class="card__body">
                                        <div class="card__badge-wrapper"> <span class="card__badge"> <span
                                                    class="card__badge-text">categoryBadge</span> </span> </div>
                                        <div class="card__text-wrapper">
                                            <div class="card__text-inner">
                                                <div class="card__title-wrapper">
                                                    <h3 class="card__title"> Nascetur lorem malesuada eget luctus
                                                        hendrerit class
                                                        bibendum convallis aliquet senectus nibh quisque venenatis proin
                                                        cras sociosqu vitae </h3>
                                                </div>
                                                <div class="card__description-wrapper">
                                                    <p class="card__description"> Lorem ipsum dolor sit amet,
                                                        consectetur
                                                        adipiscing elit. Proin ligula diam, tempus ut egestas at,
                                                        blandit a neque. Nam consectetur urna nec ex... </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <nav class="search-results__pagination" role="navigation" aria-label="Пагінація">
                    <div class="search-results__pagination-inner"> <button
                            class="search-results__pagination-button search-results__pagination-button--arrow"
                            type="button" aria-label="Попередня сторінка">
                            <span class="search-results__button-content"> <svg class="search-results__icon"
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"
                                    fill="none">
                                    <path
                                        d="M5.02842 9.4139C4.54522 8.9005 4.54522 8.09966 5.02842 7.58626L9.93172 2.37651C10.1841 2.10839 10.606 2.09561 10.8741 2.34795C11.1422 2.60029 11.155 3.02221 10.9026 3.29033L5.99935 8.50008L10.9026 13.7098C11.155 13.978 11.1422 14.3999 10.8741 14.6522C10.606 14.9046 10.1841 14.8918 9.93172 14.6237L5.02842 9.4139Z"
                                        fill="#5B5AFF" />
                                </svg> </span>
                        </button> <button
                            class="search-results__pagination-button search-results__pagination-button--number"
                            type="button" aria-current="page" aria-label="Сторінка 1">
                            <span class="search-results__button-content"> <span
                                    class="search-results__pagination-text">01</span> </span>
                        </button> <button
                            class="search-results__pagination-button search-results__pagination-button--number"
                            type="button" aria-label="Сторінка 2">
                            <span class="search-results__button-content"> <span
                                    class="search-results__pagination-text">02</span> </span>
                        </button> <button
                            class="search-results__pagination-button search-results__pagination-button--number"
                            type="button" aria-label="Сторінка 3">
                            <span class="search-results__button-content"> <span
                                    class="search-results__pagination-text">03</span> </span>
                        </button> <button
                            class="search-results__pagination-button search-results__pagination-button--arrow"
                            type="button" aria-label="Наступна сторінка">
                            <span class="search-results__button-content"> <svg class="search-results__icon"
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"
                                    fill="none">
                                    <path
                                        d="M10.7215 9.4139C11.2047 8.9005 11.2047 8.09966 10.7215 7.58626L5.81815 2.37651C5.56581 2.10839 5.14389 2.09561 4.87577 2.34795C4.60766 2.60029 4.59487 3.02221 4.84722 3.29033L9.75052 8.50008L4.84722 13.7098C4.59487 13.978 4.60766 14.3999 4.87577 14.6522C5.14389 14.9046 5.56581 14.8918 5.81815 14.6237L10.7215 9.4139Z"
                                        fill="#5B5AFF" />
                                </svg> </span>
                        </button> </div>
                </nav>
            </div>
        </div>
    </div>
</section>