<section class="thank-page" role="main">
    <div class="thank-page__content">

        <div class="thank-page__line">
            <h1 class="thank-page__title">Дякуємо за вашу активність!</h1>
        </div>

        <div class="thank-page__image-wrapper">
            <div class="thank-page__image-container">
                <img class="thank-page__image" src="img/thank-min.png" alt="Ілюстрація подяки" />
            </div>
        </div>

        <div class="thank-page__line">
            <p class="thank-page__description">Команда волонтерів зв'яжеться з вами щонайшвидше!</p>
        </div>

        <nav class="thank-page__button-wrapper">
            <a href="/digital-prostir" class="thank-page__button" role="button"
                aria-label="Повернутись на головну сторінку">
                <div class="thank-page__button-content">
                    <svg class="thank-page__button-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                        viewBox="0 0 17 17" fill="none">
                        <path
                            d="M5.52842 9.4139C5.04522 8.9005 5.04522 8.09966 5.52842 7.58626L10.4317 2.37651C10.6841 2.10839 11.106 2.09561 11.3741 2.34795C11.6422 2.60029 11.655 3.02221 11.4026 3.29033L6.49935 8.50008L11.4026 13.7098C11.655 13.978 11.6422 14.3999 11.3741 14.6522C11.106 14.9046 10.6841 14.8918 10.4317 14.6237L5.52842 9.4139Z"
                            fill="white" />
                    </svg>
                    <p class="thank-page__button-text">Повернутись на головну</p>
                </div>
            </a>
        </nav>
    </div>
</section>