.about-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 32px 16px 96px;
    position: relative;
    background-color: #ffffff;
}

.about-cta .about-cta__content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: flex-start;
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    background-color: #f7f9fc;
    border-radius: 32px;
    overflow: hidden;
}

.about-cta .about-cta__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    align-self: stretch;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;
}

.about-cta .about-cta__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.about-cta .about-cta__column {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    min-width: 256px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.about-cta .about-cta__form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.about-cta .about-cta__text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
}

.about-cta .about-cta__title {
    flex: 1;
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-size: 40px;
    font-weight: 500;
    line-height: 120%;
}

.about-cta .about-cta__form {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
    gap: 24px;
}

.about-cta .about-cta__form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.about-cta .about-cta__form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
}

.about-cta .about-cta__input-group {
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.about-cta .about-cta__input-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.about-cta .about-cta__input-wrapper {
    height: 35px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e4e7ec;
}

.about-cta .about-cta__input-wrapper:hover {
    border-bottom: 1px solid var(--colors-additional-colors-dodger-blue-80, #7B7BFF);
    transition: border 0.3s ease-in-out;
}

.about-cta .about-cta__input {
    position: relative;
    flex: 1;
    color: var(--colors-basic-colors-grayscale-60, #696969);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    width: 100%;
}

.about-cta .about-cta__input:focus::placeholder {
    color: transparent;
    transition: color 0.2s ease-out;
}

.about-cta .about-cta__input::placeholder {
    color: var(--colors-basic-colors-grayscale-60, #696969);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.about-cta .about-cta__textarea-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
}

.about-cta .about-cta__textarea-container {
    height: 108px;
    justify-content: center;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.about-cta .about-cta__textarea-frame {
    justify-content: center;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.about-cta .about-cta__textarea-inner {
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e4e7ec;
}

.about-cta textarea.about-cta__input {
    min-height: 80px;
    font-family: inherit;
}

.about-cta .about-cta__textarea-inner:hover {
    border-bottom: 1px solid var(--colors-additional-colors-dodger-blue-80, #7B7BFF);
    transition: border 0.3s ease-in-out;
}

.about-cta__sidebar {
    min-width: 256px;
    height: auto;
    align-items: center;
    gap: 8px;
    padding: 24px;
    background: var(--colors-neutral-0, #ffffff);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.about-cta__sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    gap: 16px;
}

.about-cta__sidebar-title {
    flex: 1;
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-size: 21px;
    font-weight: 500;
    line-height: 120%;
}

.about-cta__sidebar-text {
    flex: 1;
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.about-cta__brand {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.about-cta__brand-name {
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-family: var(--font-family-Azo-Sans, "Azo Sans");
    font-size: 20.141px;
    font-weight: 500;
    line-height: 140%;
}

.about-cta__button-text {
    color: var(--colors-neutral-0, #ffffff);
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.5px;
}

.about-cta__button-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.about-cta__submit-button {
    display: inline-flex;
    padding: 16px 12px 16px 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #5b5aff;
    border-radius: 99px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.about-cta__submit-button:hover {
    background: var(--colors-additional-colors-dodger-blue-80, #7B7BFF);
}

.about-cta__submit-button:active {
    background: var(--colors-additional-colors-dodger-blue-60, #6969FF);
}

.about-cta__submit-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #b8b8b8;
}

.about-cta__form-footer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}


@media (min-width: 1280px) {
    .about-cta {
        padding: 32px 52px 96px;
    }

    .about-cta .about-cta__content {
        max-width: 1176px;
    }

    .about-cta .about-cta__row {
        padding: 24px 24px 24px 48px;
        border-radius: 32px;
    }

    .about-cta .about-cta__wrapper {
        flex-wrap: nowrap;
        gap: 48px;
    }

    .about-cta .about-cta__column {
        min-width: auto;
    }

    .about-cta .about-cta__form-container {
        gap: 32px;
    }

    .about-cta .about-cta__title {
        font-size: 54px;
        font-weight: 500;
        line-height: 120%;
    }

    .about-cta .about-cta__form-row {
        flex-direction: row;
        align-items: center;
    }

    .about-cta .about-cta__input-group {
        flex: 1;
        flex-grow: 1;
        align-self: auto;
        width: auto;
    }

    .about-cta__sidebar {
        width: 376px;
        height: 376px;
        flex: 0 0 auto;
        min-width: auto;
        border-radius: 24px;
    }

    .about-cta__sidebar-title {
        font-size: 29px;
        font-weight: 500;
        line-height: 120%;
    }

    .about-cta__sidebar-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }

    .about-cta__brand-name {
        font-size: 24px;
        font-weight: 500;
        line-height: 140%;
    }

    .about-cta__button-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }
}