<section class="course-suitability" aria-labelledby="course-title">
    <div class="course-suitability__content">
        <div class="course-suitability__header">
            <div class="course-suitability__title-wrapper">
                <h3 id="course-title" class="course-suitability__title">Цей курс підійде, якщо хочете</h3>
            </div>
            <nav class="course-suitability__nav" aria-label="Навігація по слайдах">
                <div class="course-suitability__buttons">
                    <button
                        class="course-suitability__button course-suitability__button--prev course-suitability-button-prev"
                        aria-label="Попередній слайд" type="button">
                        <span class="course-suitability__icon-wrapper">
                            <svg class="course-suitability__icon" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path
                                    d="M5.02939 8.9139C4.54619 8.4005 4.54619 7.59966 5.02939 7.08626L9.93269 1.87651C10.185 1.60839 10.607 1.59561 10.8751 1.84795C11.1432 2.10029 11.156 2.52221 10.9036 2.79033L6.00033 8.00008L10.9036 13.2098C11.156 13.478 11.1432 13.8999 10.8751 14.1522C10.607 14.4046 10.185 14.3918 9.93269 14.1237L5.02939 8.9139Z"
                                    fill="#5B5AFF" />
                            </svg>
                        </span>
                    </button>
                    <button
                        class="course-suitability__button course-suitability__button--next course-suitability-button-next"
                        aria-label="Наступний слайд" type="button">
                        <span class="course-suitability__icon-wrapper">
                            <svg class="course-suitability__icon" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path
                                    d="M10.7219 8.9139C11.2051 8.4005 11.2051 7.59966 10.7219 7.08626L5.81864 1.87651C5.56629 1.60839 5.14438 1.59561 4.87626 1.84795C4.60815 2.10029 4.59536 2.52221 4.84771 2.79033L9.75101 8.00008L4.84771 13.2098C4.59536 13.478 4.60815 13.8999 4.87626 14.1522C5.14438 14.4046 5.5663 14.3918 5.81864 14.1237L10.7219 8.9139Z"
                                    fill="#5B5AFF" />
                            </svg>
                        </span>
                    </button>
                </div>
            </nav>
        </div>

        <div class="course-suitability__wrapper">
            <div class="course-suitability__slider swiper course-suitability-swiper" role="region"
                aria-label="Список переваг курсу">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="course-suitability__card">
                            <div class="course-suitability__card-content">
                                <div class="course-suitability__wrapper">
                                    <div class="course-suitability__text-wrapper">
                                        <div class="course-suitability__wrapper">
                                            <h2 class="course-suitability__card-title">Отримувати заявки <br />з твоїх
                                                відео Reels</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-suitability__image-wrapper">
                                    <img class="course-suitability__image"
                                        src="img/24ab90e0acd7c39d25c3d5e05a27b9b02af3d7c7-min.png"
                                        alt="Ілюстрація для отримання заявок з твоїх відео Reels" />
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="swiper-slide">
                        <article class="course-suitability__card">
                            <div class="course-suitability__card-content">
                                <div class="course-suitability__wrapper">
                                    <div class="course-suitability__text-wrapper">
                                        <div class="course-suitability__wrapper">
                                            <h2 class="course-suitability__card-title">Залучати аудиторію <br />через
                                                Instagram</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-suitability__image-wrapper">
                                    <img class="course-suitability__image"
                                        src="img/c0a0e4b98b8c36b116a82628c2b269197405b3fd-min.png"
                                        alt="Ілюстрація для залучення аудиторії через Instagram" />
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="swiper-slide">
                        <article class="course-suitability__card">
                            <div class="course-suitability__card-content">
                                <div class="course-suitability__wrapper">
                                    <div class="course-suitability__text-wrapper">
                                        <div class="course-suitability__wrapper">
                                            <h2 class="course-suitability__card-title">Продавати послуги <br />та
                                                продукти online</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-suitability__image-wrapper">
                                    <img class="course-suitability__image"
                                        src="img/2d16a834a1b79520682b6712eed2d1b0aa53a4d1-min.png"
                                        alt="Ілюстрація для продажу послуг та продуктів онлайн" />
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="swiper-slide">
                        <article class="course-suitability__card">
                            <div class="course-suitability__card-content">
                                <div class="course-suitability__wrapper">
                                    <div class="course-suitability__text-wrapper">
                                        <div class="course-suitability__wrapper">
                                            <h2 class="course-suitability__card-title">Підвищити впізнаваності
                                                <br />бренду
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-suitability__image-wrapper">
                                    <img class="course-suitability__image"
                                        src="img/29fe0cfbb16cce383de1967529dab379a8f86420-min.png"
                                        alt="Ілюстрація для підвищення впізнаваності бренду" />
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="swiper-slide">
                        <article class="course-suitability__card">
                            <div class="course-suitability__card-content">
                                <div class="course-suitability__wrapper">
                                    <div class="course-suitability__text-wrapper">
                                        <div class="course-suitability__wrapper">
                                            <h2 class="course-suitability__card-title">Створювати відео, <br />що
                                                продають</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-suitability__image-wrapper">
                                    <img class="course-suitability__image"
                                        src="img/604a46511950b9926f92f8401e9bd3d4a8367f12-min.png"
                                        alt="Ілюстрація для створення відео, що продають" />
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="swiper-slide">
                        <article class="course-suitability__card">
                            <div class="course-suitability__card-content">
                                <div class="course-suitability__wrapper">
                                    <div class="course-suitability__text-wrapper">
                                        <div class="course-suitability__wrapper">
                                            <h2 class="course-suitability__card-title">Оптимізувати контент <br />для
                                                автоворонок</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-suitability__image-wrapper">
                                    <img class="course-suitability__image"
                                        src="img/2f4e2999b69d4e7ce04096aff3716f3d835c6204-min.png"
                                        alt="Ілюстрація для оптимізації контенту для автоворонок" />
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>