<section class="course-testimonials">
    <div class="course-testimonials__content">
        <header class="course-testimonials__header">
            <h1 class="course-testimonials__title">Що кажуть про курс бізнесмени</h1>
        </header>
        <div class="course-testimonials__row">
            <div class="course-testimonials__list">
                <article class="course-testimonials__item testimonials">
                    <div class="course-testimonials__card-content">
                        <div class="course-testimonials__card-media">
                            <div class="course-testimonials__media-wrapper">
                                <div class="course-testimonials__media-container">
                                    <div class="course-testimonials__media-bg">
                                        <img class="course-testimonials__image wake-watch"
                                            src="img/a54e8f68f5c14c21050ddde207946bdbf5e25823-min.png"
                                            alt="Михайло - Підприємець" />
                                    </div>
                                </div>
                                <button class="course-testimonials__play-button buttons" type="button"
                                    aria-label="Відтворити відео відгук">
                                    <span class="course-testimonials__icon-wrapper">
                                        <svg class="course-testimonials__icon" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M13 4C13 3.44772 12.5523 3 12 3C11.4477 3 11 3.44772 11 4V11H4C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13H11V20C11 20.5523 11.4477 21 12 21C12.5523 21 13 20.5523 13 20V13H20C20.5523 13 21 12.5523 21 12C21 11.4477 20.5523 11 20 11H13V4Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="course-testimonials__card-info">
                            <div class="course-testimonials__info-content">
                                <div class="course-testimonials__badge">
                                    <p class="course-testimonials__badge-text">ВІДГУК</p>
                                </div>
                                <div class="course-testimonials__meta">
                                    <div class="course-testimonials__text-wrapper">
                                        <p class="course-testimonials__date">Курс був
                                            придбаний 08.21.2024</p>
                                    </div>
                                    <div class="course-testimonials__rating" role="img" aria-label="5 зірок з 5">
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                    </div>
                                </div>
                                <div class="course-testimonials__row">
                                    <div class="course-testimonials__author">
                                        <div class="course-testimonials__row">
                                            <h6 class="course-testimonials__author-name">Михайло</h6>
                                        </div>
                                        <div class="course-testimonials__text-wrapper">
                                            <p class="course-testimonials__author-role">Підприємець</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-testimonials__text-wrapper">
                                    <p class="course-testimonials__review-text"> Привіт! Завершено знайомство з курсом.
                                        Я знайшов питання, які
                                        виникають при створенні особистого бренду в соціальних мережах, а саме з
                                        котушками. Послідовно і зрозуміло навіть для початківців: від сценарію до
                                        встановлення. Бажаю вам успіху в цій галузі! </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="course-testimonials__separator"> </div>
                <article class="course-testimonials__item testimonials">
                    <div class="course-testimonials__card-content">
                        <div class="course-testimonials__card-media">
                            <div class="course-testimonials__media-wrapper">
                                <div class="course-testimonials__media-container">
                                    <div class="course-testimonials__media-bg">
                                        <img class="course-testimonials__image wake-watch"
                                            src="img/f072624f44334f7f56563a9164db51749563b19a-min.png"
                                            alt="Валентина - Вчитель йоги" />
                                    </div>
                                </div>
                                <button class="course-testimonials__play-button buttons" type="button"
                                    aria-label="Відтворити відео відгук">
                                    <span class="course-testimonials__icon-wrapper">
                                        <svg class="course-testimonials__icon" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M13 4C13 3.44772 12.5523 3 12 3C11.4477 3 11 3.44772 11 4V11H4C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13H11V20C11 20.5523 11.4477 21 12 21C12.5523 21 13 20.5523 13 20V13H20C20.5523 13 21 12.5523 21 12C21 11.4477 20.5523 11 20 11H13V4Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="course-testimonials__card-info">
                            <div class="course-testimonials__info-content">
                                <div class="course-testimonials__badge">
                                    <p class="course-testimonials__badge-text">ВІДГУК</p>
                                </div>
                                <div class="course-testimonials__meta">
                                    <div class="course-testimonials__text-wrapper">
                                        <p class="course-testimonials__date">Курс був
                                            придбаний 04.10.2024</p>
                                    </div>
                                    <div class="course-testimonials__rating" role="img" aria-label="5 зірок з 5">
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                    </div>
                                </div>
                                <div class="course-testimonials__row">
                                    <div class="course-testimonials__author">
                                        <div class="course-testimonials__row">
                                            <h6 class="course-testimonials__author-name">Валентина</h6>
                                        </div>
                                        <div class="course-testimonials__text-wrapper">
                                            <p class="course-testimonials__author-role">Вчитель йоги</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-testimonials__text-wrapper">
                                    <p class="course-testimonials__review-text"> Хочу выразить слова благодарности
                                        Ярославу за невероятно
                                        крутую консультацию. Она длилась почти два часа. За это время Ярослав провел
                                        глубокую диагностику моего проекта и дал множество ценных рекомендаций
                                        относительно его развития.<br /><br />Я пришла к нему с полным непониманием
                                        стратегии развития своего проекта, хваталась за всё сразу, но результата не
                                        было.<br /> <br />Ярослав разложил всё по полочкам, помог структурировать мои
                                        знания, детально объяснил, что, когда и как нужно делать. И что самое главное,
                                        он вселил в меня уверенность, помог преодолеть синдром самозванца и вдохновил на
                                        новые идеи относительно моего проекта.<br />Я очень благодарна Ярославу за такую
                                        суперскую диагностику и четкие, обоснованные рекомендации.<br />Если у вас тоже
                                        нет понимания, куда и как двигать свой проект или бизнес, обращайтесь к Ярославу
                                        Шаповалу — настоящему профессионалу своего дела и очень
                                        приятному&nbsp;&nbsp;человеку. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="course-testimonials__separator"> </div>
                <article class="course-testimonials__item testimonials">
                    <div class="course-testimonials__card-content">
                        <div class="course-testimonials__card-media">
                            <div class="course-testimonials__media-wrapper">
                                <div class="course-testimonials__media-container">
                                    <div class="course-testimonials__media-bg">
                                        <img class="course-testimonials__image wake-watch"
                                            src="img/57e0c316c35211773d1e8331cda011edd1fbe339-min.png"
                                            alt="Надія - Репетитор" />
                                    </div>
                                </div>
                                <button class="course-testimonials__play-button buttons" type="button"
                                    aria-label="Відтворити відео відгук">
                                    <span class="course-testimonials__icon-wrapper">
                                        <svg class="course-testimonials__icon" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M13 4C13 3.44772 12.5523 3 12 3C11.4477 3 11 3.44772 11 4V11H4C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13H11V20C11 20.5523 11.4477 21 12 21C12.5523 21 13 20.5523 13 20V13H20C20.5523 13 21 12.5523 21 12C21 11.4477 20.5523 11 20 11H13V4Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="course-testimonials__card-info">
                            <div class="course-testimonials__info-content">
                                <div class="course-testimonials__badge">
                                    <p class="course-testimonials__badge-text">ВІДГУК</p>
                                </div>
                                <div class="course-testimonials__meta">
                                    <div class="course-testimonials__text-wrapper">
                                        <p class="course-testimonials__date">Курс був
                                            придбаний 27.09.2024</p>
                                    </div>
                                    <div class="course-testimonials__rating" role="img" aria-label="5 зірок з 5">
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                        <img class="course-testimonials__star" src="img/star-(2).svg" alt="Зірка" />
                                    </div>
                                </div>
                                <div class="course-testimonials__row">
                                    <div class="course-testimonials__author">
                                        <div class="course-testimonials__row">
                                            <h6 class="course-testimonials__author-name">Надія</h6>
                                        </div>
                                        <div class="course-testimonials__text-wrapper">
                                            <p class="course-testimonials__author-role">Репетитор</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-testimonials__text-wrapper">
                                    <p class="course-testimonials__review-text"> Дякуємо за надану інформацію !!!
                                        Зрозуміло, звичайно,
                                        послідовно, без води. Серйозний підхід до власного та чужого бізнесу. Високий
                                        рівень розуміння та розуміння людини. Тихий, заспокійливий голос - це окремий
                                        плюс! Вона ні на секунду не пошкодувала, що пішла на особистий аналіз!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>