<section class="course-program">
    <div class="course-program__container">
        <div class="course-program__header">
            <h2 class="course-program__title">Програма онлайн-курсу</h2>
        </div>

        <ul class="course-program__list">

            <li class="course-program__card">
                <div class="course-program__card-content">
                    <div class="course-program__meta-col">
                        <div class="course-program__meta">
                            <div class="course-program__badge-row">
                                <div class="course-program__badge">
                                    <p class="course-program__badge-text">Модуль 01</p>
                                </div>
                            </div>

                            <div class="course-program__group">
                                <div class="course-program__stats-list">
                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Матеріалів:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">1 відео</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Тривалість:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">12:29</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-program__topic-col">
                        <div class="course-program__topic">
                            <div class="course-program__topic-header">
                                <h5 class="course-program__topic-label">Тема:</h5>
                                <h6 class="course-program__topic-title">Магія Reels: перетворюємо глядачів на клієнтів
                                </h6>
                            </div>

                            <div class="course-program__bullets">
                                <ul class="course-program__bullet-list">
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Як створювати короткі відео, які
                                                приваблюють клієнтів?</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Роль коротких відео в просуванні</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Як Reels допоможуть продавати ваші
                                                послуги та продукти?</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Розбір помилок, яких припускаються
                                                90% фахівців</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <aside class="course-program__media-col">
                        <section class="course-program__media">
                            <div class="course-program__thumb">
                                <img class="course-program__thumb-image"
                                    src="img/23985721194d8d79c4120cfabf0d8cfff6b92d83-min.png" alt="Іконка відео" />
                            </div>
                            <button class="course-program__play" type="button" aria-label="Відтворити відео"
                                data-video="https://youtu.be/lHaCFlAm-e8?si=c4fPbHjrsAvIs02R">
                                <span class="course-program__play-icon-wrap">
                                    <img class="course-program__play-icon" src="img/play-icon.svg"
                                        alt="Іконка відтворення" />
                                </span>
                            </button>
                        </section>
                    </aside>
                </div>
            </li>


            <li class="course-program__card">
                <div class="course-program__card-content">
                    <div class="course-program__meta-col">
                        <div class="course-program__meta">
                            <div class="course-program__badge-row">
                                <div class="course-program__badge">
                                    <p class="course-program__badge-text">Модуль 02</p>
                                </div>
                            </div>

                            <div class="course-program__group">
                                <div class="course-program__stats-list">
                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Матеріалів:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">1 відео</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Тривалість:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">14:22</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-program__topic-col">
                        <div class="course-program__topic">
                            <div class="course-program__topic-header">
                                <h4 class="course-program__topic-label">Тема:</h4>
                                <h5 class="course-program__topic-title">Трендові відео — ключ до мільйона переглядів
                                </h5>
                            </div>

                            <div class="course-program__bullets">
                                <ul class="course-program__bullet-list">
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Аналітика за відео: як зібрати та
                                                проаналізувати конкурентів</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Як визначити патерни вірусності?</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Як знаходити трендові відео, здатні
                                                привести до заявок?</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Додаткові налаштування для набору
                                                охоплень</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <aside class="course-program__media-col">
                        <div class="course-program__media">
                            <div class="course-program__thumb">
                                <img class="course-program__thumb-image"
                                    src="img/02f8b4466a107d96e41f0e45b55c38a29583f499-min.png" alt="Іконка відео" />
                            </div>
                            <button class="course-program__play" type="button" aria-label="Відтворити відео"
                                data-video="https://youtu.be/lHaCFlAm-e8?si=c4fPbHjrsAvIs02R">
                                <span class="course-program__play-icon-wrap">
                                    <img class="course-program__play-icon" src="img/play-icon.svg"
                                        alt="Іконка відтворення" />
                                </span>
                            </button>
                        </div>
                    </aside>
                </div>
            </li>


            <li class="course-program__card">
                <div class="course-program__card-content">
                    <div class="course-program__meta-col">
                        <div class="course-program__meta">
                            <div class="course-program__badge-row">
                                <div class="course-program__badge">
                                    <p class="course-program__badge-text">Модуль 03</p>
                                </div>
                            </div>

                            <div class="course-program__group">
                                <div class="course-program__stats-list">
                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Матеріалів:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">1 відео</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Тривалість:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">9:24</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">2 презентації</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-program__topic-col">
                        <div class="course-program__topic">
                            <div class="course-program__topic-header">
                                <h4 class="course-program__topic-label">Тема:</h4>
                                <h5 class="course-program__topic-title">Створюємо контент-план, що продає</h5>
                            </div>

                            <div class="course-program__bullets">
                                <ul class="course-program__bullet-list">
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Розробка контент-плану з акцентом на
                                                болі клієнтів</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">ТОП-5 промтів для тригерного
                                                контент-плану</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">«Битва форматів» для максимального
                                                залучення клієнтів</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Як інтегрувати користувацький контент
                                                у свій план?</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <aside class="course-program__media-col">
                        <div class="course-program__media">
                            <div class="course-program__thumb">
                                <img class="course-program__thumb-image"
                                    src="img/375026c9fd868ccd7b79f03617d5429066678059-min.png" alt="Іконка відео" />
                            </div>
                            <button class="course-program__play" type="button" aria-label="Відтворити відео"
                                data-video="https://youtu.be/lHaCFlAm-e8?si=c4fPbHjrsAvIs02R">
                                <span class="course-program__play-icon-wrap">
                                    <img class="course-program__play-icon" src="img/play-icon.svg"
                                        alt="Іконка відтворення" />
                                </span>
                            </button>
                        </div>
                    </aside>
                </div>
            </li>


            <li class="course-program__card">
                <div class="course-program__card-content">
                    <div class="course-program__meta-col">
                        <div class="course-program__meta">
                            <div class="course-program__badge-row">
                                <div class="course-program__badge">
                                    <p class="course-program__badge-text">Модуль 04</p>
                                </div>
                            </div>

                            <div class="course-program__group">
                                <div class="course-program__stats-list">
                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Матеріалів:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">1 відео</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Тривалість:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">21:19</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-program__topic-col">
                        <div class="course-program__topic">
                            <div class="course-program__topic-header">
                                <h4 class="course-program__topic-label">Тема:</h4>
                                <h5 class="course-program__topic-title">Авторська техніка створення вірусних відео</h5>
                            </div>

                            <div class="course-program__bullets">
                                <ul class="course-program__bullet-list">
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Заголовки, що чіпляють, і «Піраміда
                                                сприйняття»</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Підготовка сценаріїв і сцен для відео
                                            </p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">ТОП 50 заголовків для експертних
                                                відео</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Фішки відео, що збільшують перегляди
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <aside class="course-program__media-col">
                        <div class="course-program__media">
                            <div class="course-program__thumb">
                                <img class="course-program__thumb-image"
                                    src="img/794828ab48ddf54a811b7618dbc17b2da82bfb6d-min.png" alt="Іконка відео" />
                            </div>
                            <button class="course-program__play" type="button" aria-label="Відтворити відео"
                                data-video="https://youtu.be/lHaCFlAm-e8?si=c4fPbHjrsAvIs02R">
                                <span class="course-program__play-icon-wrap">
                                    <img class="course-program__play-icon" src="img/play-icon.svg"
                                        alt="Іконка відтворення" />
                                </span>
                            </button>
                        </div>
                    </aside>
                </div>
            </li>


            <li class="course-program__card">
                <div class="course-program__card-content">
                    <div class="course-program__meta-col">
                        <div class="course-program__meta">
                            <div class="course-program__badge-row">
                                <div class="course-program__badge">
                                    <p class="course-program__badge-text">Модуль 05</p>
                                </div>
                            </div>

                            <div class="course-program__group">
                                <div class="course-program__stats-list">
                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Матеріалів:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">1 відео</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Тривалість:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">15:17</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-program__topic-col">
                        <div class="course-program__topic">
                            <div class="course-program__topic-header">
                                <h4 class="course-program__topic-label">Тема:</h4>
                                <h5 class="course-program__topic-title">Готуємо акаунт до прийому заявок</h5>
                            </div>

                            <div class="course-program__bullets">
                                <ul class="course-program__bullet-list">
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">10 правил оформлення профілю, в якому
                                                купують</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Як скласти біографію, що продає</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Створення привабливого візуалу без
                                                дизайнера</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Фішки відео, що збільшують перегляди
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <aside class="course-program__media-col">
                        <div class="course-program__media">
                            <div class="course-program__thumb">
                                <img class="course-program__thumb-image"
                                    src="img/62b5e529450dc91ed65858f94d9b811b3650786b-min.png" alt="Іконка відео" />
                            </div>
                            <button class="course-program__play" type="button" aria-label="Відтворити відео"
                                data-video="https://youtu.be/lHaCFlAm-e8?si=c4fPbHjrsAvIs02R">
                                <span class="course-program__play-icon-wrap">
                                    <img class="course-program__play-icon" src="img/play-icon.svg"
                                        alt="Іконка відтворення" />
                                </span>
                            </button>
                        </div>
                    </aside>
                </div>
            </li>


            <li class="course-program__card">
                <div class="course-program__card-content">
                    <div class="course-program__meta-col">
                        <div class="course-program__meta">
                            <div class="course-program__badge-row">
                                <div class="course-program__badge">
                                    <p class="course-program__badge-text">Модуль 06</p>
                                </div>
                            </div>

                            <div class="course-program__group">
                                <div class="course-program__stats-list">
                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Матеріалів:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">1 відео</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Тривалість:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">11:52</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-program__topic-col">
                        <div class="course-program__topic">
                            <div class="course-program__topic-header">
                                <h4 class="course-program__topic-label">Тема:</h4>
                                <h5 class="course-program__topic-title">ТОП-3 контентні воронки</h5>
                            </div>

                            <div class="course-program__bullets">
                                <ul class="course-program__bullet-list">
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Reels воронка + фішка «Як зняти за
                                                годину 10 відео»</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Воронка «Серія відео» в Instagram</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Універсальна воронка «Безкоштовний
                                                урок»</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Методи тестування і поліпшення
                                                контентних воронок</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <aside class="course-program__media-col">
                        <div class="course-program__media">
                            <div class="course-program__thumb">
                                <img class="course-program__thumb-image"
                                    src="img/03ae098583ff991faa2adc4893154a045e10358b-min.png" alt="Іконка відео" />
                            </div>
                            <button class="course-program__play" type="button" aria-label="Відтворити відео"
                                data-video="https://youtu.be/lHaCFlAm-e8?si=c4fPbHjrsAvIs02R">
                                <span class="course-program__play-icon-wrap">
                                    <img class="course-program__play-icon" src="img/play-icon.svg"
                                        alt="Іконка відтворення" />
                                </span>
                            </button>
                        </div>
                    </aside>
                </div>
            </li>


            <li class="course-program__card">
                <div class="course-program__card-content">
                    <div class="course-program__meta-col">
                        <div class="course-program__meta">
                            <div class="course-program__badge-row">
                                <div class="course-program__badge">
                                    <p class="course-program__badge-text">Модуль 07</p>
                                </div>
                            </div>

                            <div class="course-program__group">
                                <div class="course-program__stats-list">
                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Матеріалів:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">4 відео</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Тривалість:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">31:41</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-program__topic-col">
                        <div class="course-program__topic">
                            <div class="course-program__topic-header">
                                <h4 class="course-program__topic-label">Тема:</h4>
                                <h5 class="course-program__topic-title">Робимо воронку за 20 хвилин без технічних
                                    навичок</h5>
                            </div>

                            <div class="course-program__bullets">
                                <ul class="course-program__bullet-list">
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Сервіси для налаштування
                                                автоматизації</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Налаштування воронки на видачу
                                                матеріалів за підписку</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">2 готових шаблони воронки</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Лайфхаки зі створення воронок із
                                                мінімальними витратами часу та ресурсів</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <aside class="course-program__media-col">
                        <div class="course-program__media">
                            <div class="course-program__thumb">
                                <img class="course-program__thumb-image"
                                    src="img/2bb72e06caaa0b4bfac2a9fca7182110eed3eea4-min.png" alt="Іконка відео" />
                            </div>
                            <button class="course-program__play" type="button" aria-label="Відтворити відео"
                                data-video="https://youtu.be/lHaCFlAm-e8?si=c4fPbHjrsAvIs02R">
                                <span class="course-program__play-icon-wrap">
                                    <img class="course-program__play-icon" src="img/play-icon.svg"
                                        alt="Іконка відтворення" />
                                </span>
                            </button>
                        </div>
                    </aside>
                </div>
            </li>


            <li class="course-program__card">
                <div class="course-program__card-content">
                    <div class="course-program__meta-col">
                        <div class="course-program__meta">
                            <div class="course-program__badge-row">
                                <div class="course-program__badge">
                                    <p class="course-program__badge-text">Модуль 08</p>
                                </div>
                            </div>

                            <div class="course-program__group">
                                <div class="course-program__stats-list">
                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Матеріалів:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">1 відео</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="course-program__group">
                                        <div class="course-program__stat">
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-label">Тривалість:</p>
                                            </div>
                                            <div class="course-program__stat-cell">
                                                <p class="course-program__stat-value">8:24</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-program__topic-col">
                        <div class="course-program__topic">
                            <div class="course-program__topic-header">
                                <h4 class="course-program__topic-label">Тема:</h4>
                                <h5 class="course-program__topic-title">Отримуємо заявки щодо контенту 24/7</h5>
                            </div>

                            <div class="course-program__bullets">
                                <ul class="course-program__bullet-list">
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Як збільшити результати відео?</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Як зробити кожне відео таким, що
                                                продає, і не напружувати глядача?</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Експерименти в акаунті для підвищення
                                                кількості заявок</p>
                                        </div>
                                    </li>
                                    <li class="course-program__bullet">
                                        <div class="course-program__bullet-row">
                                            <img class="course-program__bullet-icon" src="img/icons-check-2.svg"
                                                alt="Іконка пункту" />
                                            <p class="course-program__bullet-text">Метрики та інструменти для
                                                відстеження ефективності контенту</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <aside class="course-program__media-col">
                        <div class="course-program__media">
                            <div class="course-program__thumb">
                                <img class="course-program__thumb-image"
                                    src="img/72b45725a516c0b0839c44fae637197c12a5822e-min.png" alt="Іконка відео" />
                            </div>
                            <button class="course-program__play" type="button" aria-label="Відтворити відео"
                                data-video="https://youtu.be/lHaCFlAm-e8?si=c4fPbHjrsAvIs02R">
                                <span class="course-program__play-icon-wrap">
                                    <img class="course-program__play-icon" src="img/play-icon.svg"
                                        alt="Іконка відтворення" />
                                </span>
                            </button>
                        </div>
                    </aside>
                </div>
            </li>
        </ul>

        <button class="course-program__cta" type="button" aria-label="Отримати курс">
            <span class="course-program__cta-content">
                <span class="course-program__cta-text">Отримати курс</span>
            </span>
        </button>
    </div>
</section>