<section class="bonuses">
    <div class="bonuses__container">
        <div class="bonuses__header">
            <h1 class="bonuses__title">Бонусні практичні матеріали</h1>
        </div>
        <div class="bonuses__wrapper">
            <ul class="bonuses__list">
                <li class="bonuses__item">
                    <img class="bonuses__image" src="img/b1ac388bc8066a550b1ce627ad24b9b40a745d3c-min.png"
                        alt="Чек-лист обладнання для зйомок" />
                    <div class="bonuses__content">
                        <h6 class="bonuses__text">Чек-лист<br />«Обладнання для зйомок»</h6>
                    </div>
                </li>
                <li class="bonuses__item">
                    <img class="bonuses__image" src="img/7061783b22b887eecb8f221102fc502f8f57f7a6-min.png"
                        alt="Інструкція з підготовки до зйомок" />
                    <div class="bonuses__content">
                        <h6 class="bonuses__text">Інструкція з підготовки <br />до зйомок</h6>
                    </div>
                </li>
                <li class="bonuses__item">
                    <img class="bonuses__image" src="img/0710c421c93a5d675bf022a57488172f9d1e5f1d-min.png"
                        alt="Гайд: 50 запитань для розпакування експертизи" />
                    <div class="bonuses__content">
                        <h6 class="bonuses__text">Гайд: «50 запитань для розпакування експертизи»</h6>
                    </div>
                </li>
                <li class="bonuses__item">
                    <img class="bonuses__image" src="img/530e1fde5852d96b152a4cb5b7be45fab09aa81d-min.png"
                        alt="Гайд: 50 запитань для розпакування експертизи" />
                    <div class="bonuses__content">
                        <h6 class="bonuses__text">Гайд: «50 запитань для розпакування експертизи»</h6>
                    </div>
                </li>
                <li class="bonuses__item">
                    <img class="bonuses__image" src="img/d569b573b6703bb44cc4ea79cb0d0e89b9b8ee68-min.png"
                        alt="Гайд: 50 запитань для розпакування експертизи" />
                    <div class="bonuses__content">
                        <h6 class="bonuses__text">Гайд: «50 запитань для розпакування експертизи»</h6>
                    </div>
                </li>
                <li class="bonuses__item">
                    <img class="bonuses__image" src="img/99c18fafae5aa198aa65965e4b3aac5c2d8e3c2f-min.png"
                        alt="Гайд: 50 запитань для розпакування експертизи" />
                    <div class="bonuses__content">
                        <h6 class="bonuses__text">Гайд: «50 запитань для розпакування експертизи»</h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>