<section class="course-acquisition">
    <div class="course-acquisition__container">
        <div class="course-acquisition__row">
            <h2 class="course-acquisition___title">Як отримати курс «Постійний потік заявок з Reels»?</h2>
        </div>
        <div class="course-acquisition__group">
            <ul class="course-acquisition__list">
                <li class="course-acquisition__decor course-acquisition__decor--left">
                    <div class="course-acquisition__decor-placeholder"></div>
                </li>
                <li class="course-acquisition__card">
                    <div class="course-acquisition__card-content">
                        <div class="course-acquisition__group">
                            <h6 class="course-acquisition__card-title">Заповнюй <br> просту заявку</h6>
                        </div>
                        <div class="course-acquisition__row">
                            <button class="course-acquisition__button" type="button"
                                aria-label="Заповнити заявку зараз">
                                <span class="course-acquisition__button-content">
                                    <span class="course-acquisition__button-text">Заповнити зараз</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="course-acquisition__card">
                    <img class="course-acquisition__card-bg" src="img/8773929a798742a9d6b08f9330ec9bacfe8c6918-min.png"
                        alt="Ілюстрація отримання курсу на email" />
                    <div class="course-acquisition__card-caption">
                        <div class="course-acquisition__group">
                            <h6 class="course-acquisition__card-heading">Відразу отримуй курс <br />на свій email</h6>
                        </div>
                    </div>
                </li>
                <li class="course-acquisition__card course-acquisition__card--aside">
                    <img class="course-acquisition__card-figure"
                        src="img/2dd8ff194faa8200f584fd2072504641a439410c-min.png"
                        alt="Фото консультанта та автора курсу" />
                    <div class="course-acquisition__card-caption">
                        <div class="course-acquisition__group">
                            <h6 class="course-acquisition__card-heading">Отримуйте консультацію</h6>
                        </div>
                        <div class="course-acquisition__row">
                            <p class="course-acquisition__card-text">від волонтера та автора курсу</p>
                        </div>
                    </div>
                </li>
                <li class="course-acquisition__decor course-acquisition__decor--right">
                    <div class="course-acquisition__decor-placeholder"></div>
                </li>
            </ul>
        </div>
    </div>
</section>