<section class="courses">
    <div class="courses__container">
        <div class="courses__row">
            <div class="courses__header-content">
                <div class="courses__row">
                    <h1 class="courses__title">Курси Digital Prostir</h1>
                </div>
                <div class="courses__text-wrapper">
                    <p class="courses__subtitle">
                        Отримайте безкоштовні пропозиції від провідних авторів ніші
                    </p>
                </div>
            </div>
        </div>

        <div class="courses__row">
            <ul class="courses__list">
                <li class="courses__card">
                    <div class="courses__card-content">
                        <div class="courses__image-wrapper">
                            <img class="courses__image" src="img/0b4ce3a8e0bbd25585b6fd6ee66c33326ffc7bf1-min.png"
                                alt="Зображення курсу" />
                        </div>
                        <div class="courses__info-wrapper">
                            <div class="courses__info">
                                <span class="courses__badge"><span class="courses__badge-text">Рубрика</span></span>
                                <div class="courses__text-wrapper">
                                    <p class="courses__meta-text">Курс</p>
                                </div>
                                <div class="courses__row">
                                    <h2 class="courses__card-title">
                                        Постійний потік заявок та клієнтів з Reels
                                    </h2>
                                </div>
                                <div class="courses__separator"></div>
                                <div class="courses__text-wrapper">
                                    <p class="courses__description">
                                        На курсі ви дізнаєтесь, як продавати через блог, генерувати
                                        ідеї для контенту постійно та створювати відео, які
                                        набирають перегляди, залучаючи клієнтів.
                                    </p>
                                </div>
                                <div class="courses__row">
                                    <div class="courses__features-list">
                                        <div class="courses__row">
                                            <div class="courses__feature">
                                                <svg class="courses__icon" xmlns="http://www.w3.org/2000/svg" width="25"
                                                    height="24" viewBox="0 0 25 24" fill="none">
                                                    <path
                                                        d="M19.8142 5.77313C20.2156 5.39435 20.8481 5.41194 21.2273 5.81316C21.6063 6.21449 21.5882 6.84697 21.1872 7.22625L9.54073 18.2263C9.15535 18.5902 8.55308 18.5902 8.16769 18.2263L3.81417 14.1149C3.41266 13.7357 3.39491 13.1024 3.77413 12.7009C4.1534 12.3002 4.78599 12.282 5.18722 12.6608L8.85421 16.1237L19.8142 5.77313Z"
                                                        fill="#5B5AFF" />
                                                </svg>
                                                <p class="courses__meta-text">
                                                    15 уроків, 6 бонусів, 2+ годин практичного змісту
                                                </p>
                                            </div>
                                        </div>
                                        <div class="courses__row">
                                            <div class="courses__feature">
                                                <svg class="courses__icon" xmlns="http://www.w3.org/2000/svg" width="25"
                                                    height="24" viewBox="0 0 25 24" fill="none">
                                                    <path
                                                        d="M19.8142 5.77313C20.2156 5.39435 20.8481 5.41194 21.2273 5.81316C21.6063 6.21449 21.5882 6.84697 21.1872 7.22625L9.54073 18.2263C9.15535 18.5902 8.55308 18.5902 8.16769 18.2263L3.81417 14.1149C3.41266 13.7357 3.39491 13.1024 3.77413 12.7009C4.1534 12.3002 4.78599 12.282 5.18722 12.6608L8.85421 16.1237L19.8142 5.77313Z"
                                                        fill="#5B5AFF" />
                                                </svg>
                                                <div class="courses__meta-text">В групі 52 учасника</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="courses__button" type="button" aria-label="Дізнатися більше про курс">
                                    <span class="courses__button-content"><span
                                            class="courses__button-text">Докладніше</span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="courses__card">
                    <div class="courses__card-content">
                        <div class="courses__image-wrapper">
                            <img class="courses__image" src="img/0b4ce3a8e0bbd25585b6fd6ee66c33326ffc7bf1-min.png"
                                alt="Зображення курсу" />
                        </div>
                        <div class="courses__info-wrapper">
                            <div class="courses__info">
                                <span class="courses__badge"><span class="courses__badge-text">Рубрика</span></span>
                                <div class="courses__text-wrapper">
                                    <p class="courses__meta-text">Курс</p>
                                </div>
                                <div class="courses__row">
                                    <h2 class="courses__card-title">
                                        Постійний потік заявок та клієнтів з Reels
                                    </h2>
                                </div>
                                <div class="courses__separator"></div>
                                <div class="courses__text-wrapper">
                                    <p class="courses__description">
                                        На курсі ви дізнаєтесь, як продавати через блог, генерувати
                                        ідеї для контенту постійно та створювати відео, які
                                        набирають перегляди, залучаючи клієнтів.
                                    </p>
                                </div>
                                <div class="courses__row">
                                    <div class="courses__features-list">
                                        <div class="courses__row">
                                            <div class="courses__feature">
                                                <svg class="courses__icon" xmlns="http://www.w3.org/2000/svg" width="25"
                                                    height="24" viewBox="0 0 25 24" fill="none">
                                                    <path
                                                        d="M19.8142 5.77313C20.2156 5.39435 20.8481 5.41194 21.2273 5.81316C21.6063 6.21449 21.5882 6.84697 21.1872 7.22625L9.54073 18.2263C9.15535 18.5902 8.55308 18.5902 8.16769 18.2263L3.81417 14.1149C3.41266 13.7357 3.39491 13.1024 3.77413 12.7009C4.1534 12.3002 4.78599 12.282 5.18722 12.6608L8.85421 16.1237L19.8142 5.77313Z"
                                                        fill="#5B5AFF" />
                                                </svg>
                                                <p class="courses__meta-text">
                                                    15 уроків, 6 бонусів, 2+ годин практичного змісту
                                                </p>
                                            </div>
                                        </div>
                                        <div class="courses__row">
                                            <div class="courses__feature">
                                                <svg class="courses__icon" xmlns="http://www.w3.org/2000/svg" width="25"
                                                    height="24" viewBox="0 0 25 24" fill="none">
                                                    <path
                                                        d="M19.8142 5.77313C20.2156 5.39435 20.8481 5.41194 21.2273 5.81316C21.6063 6.21449 21.5882 6.84697 21.1872 7.22625L9.54073 18.2263C9.15535 18.5902 8.55308 18.5902 8.16769 18.2263L3.81417 14.1149C3.41266 13.7357 3.39491 13.1024 3.77413 12.7009C4.1534 12.3002 4.78599 12.282 5.18722 12.6608L8.85421 16.1237L19.8142 5.77313Z"
                                                        fill="#5B5AFF" />
                                                </svg>
                                                <div class="courses__meta-text">В групі 52 учасника</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="courses__button" type="button" aria-label="Дізнатися більше про курс">
                                    <span class="courses__button-content"><span
                                            class="courses__button-text">Докладніше</span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="courses__card">
                    <div class="courses__card-content">
                        <div class="courses__image-wrapper">
                            <img class="courses__image" src="img/0b4ce3a8e0bbd25585b6fd6ee66c33326ffc7bf1-min.png"
                                alt="Зображення курсу" />
                        </div>
                        <div class="courses__info-wrapper">
                            <div class="courses__info">
                                <span class="courses__badge"><span class="courses__badge-text">Рубрика</span></span>
                                <div class="courses__text-wrapper">
                                    <p class="courses__meta-text">Курс</p>
                                </div>
                                <div class="courses__row">
                                    <h2 class="courses__card-title">
                                        Постійний потік заявок та клієнтів з Reels
                                    </h2>
                                </div>
                                <div class="courses__separator"></div>
                                <div class="courses__text-wrapper">
                                    <p class="courses__description">
                                        На курсі ви дізнаєтесь, як продавати через блог, генерувати
                                        ідеї для контенту постійно та створювати відео, які
                                        набирають перегляди, залучаючи клієнтів.
                                    </p>
                                </div>
                                <div class="courses__row">
                                    <div class="courses__features-list">
                                        <div class="courses__row">
                                            <div class="courses__feature">
                                                <svg class="courses__icon" xmlns="http://www.w3.org/2000/svg" width="25"
                                                    height="24" viewBox="0 0 25 24" fill="none">
                                                    <path
                                                        d="M19.8142 5.77313C20.2156 5.39435 20.8481 5.41194 21.2273 5.81316C21.6063 6.21449 21.5882 6.84697 21.1872 7.22625L9.54073 18.2263C9.15535 18.5902 8.55308 18.5902 8.16769 18.2263L3.81417 14.1149C3.41266 13.7357 3.39491 13.1024 3.77413 12.7009C4.1534 12.3002 4.78599 12.282 5.18722 12.6608L8.85421 16.1237L19.8142 5.77313Z"
                                                        fill="#5B5AFF" />
                                                </svg>
                                                <p class="courses__meta-text">
                                                    15 уроків, 6 бонусів, 2+ годин практичного змісту
                                                </p>
                                            </div>
                                        </div>
                                        <div class="courses__row">
                                            <div class="courses__feature">
                                                <svg class="courses__icon" xmlns="http://www.w3.org/2000/svg" width="25"
                                                    height="24" viewBox="0 0 25 24" fill="none">
                                                    <path
                                                        d="M19.8142 5.77313C20.2156 5.39435 20.8481 5.41194 21.2273 5.81316C21.6063 6.21449 21.5882 6.84697 21.1872 7.22625L9.54073 18.2263C9.15535 18.5902 8.55308 18.5902 8.16769 18.2263L3.81417 14.1149C3.41266 13.7357 3.39491 13.1024 3.77413 12.7009C4.1534 12.3002 4.78599 12.282 5.18722 12.6608L8.85421 16.1237L19.8142 5.77313Z"
                                                        fill="#5B5AFF" />
                                                </svg>
                                                <div class="courses__meta-text">В групі 52 учасника</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="courses__button" type="button" aria-label="Дізнатися більше про курс">
                                    <span class="courses__button-content"><span
                                            class="courses__button-text">Докладніше</span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <nav class="search-results__pagination" role="navigation" aria-label="Пагінація">
            <div class="search-results__pagination-inner">
                <button class="search-results__pagination-button search-results__pagination-button--arrow" type="button"
                    aria-label="Попередня сторінка">
                    <span class="search-results__button-content">
                        <svg class="search-results__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="17"
                            viewBox="0 0 16 17" fill="none">
                            <path
                                d="M5.02842 9.4139C4.54522 8.9005 4.54522 8.09966 5.02842 7.58626L9.93172 2.37651C10.1841 2.10839 10.606 2.09561 10.8741 2.34795C11.1422 2.60029 11.155 3.02221 10.9026 3.29033L5.99935 8.50008L10.9026 13.7098C11.155 13.978 11.1422 14.3999 10.8741 14.6522C10.606 14.9046 10.1841 14.8918 9.93172 14.6237L5.02842 9.4139Z"
                                fill="#5B5AFF" />
                        </svg>
                    </span>
                </button>
                <button class="search-results__pagination-button search-results__pagination-button--number"
                    type="button" aria-current="page" aria-label="Сторінка 1">
                    <span class="search-results__button-content">
                        <span class="search-results__pagination-text">01</span>
                    </span>
                </button>
                <button class="search-results__pagination-button search-results__pagination-button--number"
                    type="button" aria-label="Сторінка 2">
                    <span class="search-results__button-content">
                        <span class="search-results__pagination-text">02</span>
                    </span>
                </button>
                <button class="search-results__pagination-button search-results__pagination-button--number"
                    type="button" aria-label="Сторінка 3">
                    <span class="search-results__button-content">
                        <span class="search-results__pagination-text">03</span>
                    </span>
                </button>
                <button class="search-results__pagination-button search-results__pagination-button--arrow" type="button"
                    aria-label="Наступна сторінка">
                    <span class="search-results__button-content">
                        <svg class="search-results__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="17"
                            viewBox="0 0 16 17" fill="none">
                            <path
                                d="M10.7215 9.4139C11.2047 8.9005 11.2047 8.09966 10.7215 7.58626L5.81815 2.37651C5.56581 2.10839 5.14389 2.09561 4.87577 2.34795C4.60766 2.60029 4.59487 3.02221 4.84722 3.29033L9.75052 8.50008L4.84722 13.7098C4.59487 13.978 4.60766 14.3999 4.87577 14.6522C5.14389 14.9046 5.56581 14.8918 5.81815 14.6237L10.7215 9.4139Z"
                                fill="#5B5AFF" />
                        </svg>
                    </span>
                </button>
            </div>
        </nav>
    </div>
</section>