.course-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 32px 16px;
    position: relative;
    background-color: #ffffff;
}

.course-features__content {
    flex-direction: column;
    max-width: 800px;
    align-items: flex-start;
    gap: 48px;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}

.course-features__list-wrapper {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.course-features__list {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px 16px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}

.course-features__item {
    display: flex;
    min-width: 200px;
    height: 408px;
    align-items: flex-start;
    gap: 8px;
    padding: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #f3f3f380;
    border-radius: 24px;
    overflow: hidden;
}

.course-features__bg-image {
    position: absolute;
    width: 256px;
    height: 408px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.course-features__text-content {
    flex-direction: column;

    flex: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
}

.course-features__title {
    align-self: stretch;
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-size: 21px;
    font-weight: 500;
    line-height: 120%;
}

.course-features__description-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.course-features__description {
    flex: 1;
    color: var(--colors-basic-colors-grayscale-80, #393939);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}


.course-features__item {
    display: flex;

    gap: 16px;
    min-height: 408px;
    padding: 24px;
    background-color: #f3f3f380;
    border-radius: 24px;
    overflow: hidden;
}

.course-features__bg-image {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-features__text-content {

    display: flex;
    align-content: start;

    justify-items: start;

    gap: 12px;
    min-width: 0;

}


.course-features__title {
    font-size: 21px;
    line-height: 120%;
}

.course-features__description {
    font-size: 14px;
    line-height: 140%;
}


.course-features__description-wrapper,
.course-features__header {
    align-items: flex-start;
    justify-content: flex-start;
}


.course-features__icon {
    display: none;
}


@media (min-width: 1280px) {
    .course-features {
        padding: 32px 52px;
    }

    .course-features__content {
        max-width: 1176px;
    }

    .course-features__list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .course-features__item {


        grid-template-columns: var(--media-col, 310px) 1fr;
        height: 376px;
        min-height: unset;
        gap: 8px;
        padding: 32px;
        border-radius: 32px;
    }

    .course-features__bg-image {
        position: absolute;
        width: 376px;
        height: 376px;
        top: 0;
        left: 0;
        grid-column: unset;
        grid-row: unset;
    }

    .course-features__text-content {

        gap: 12px;
        flex: 1;
        flex-grow: 1;
        position: relative;

    }

    .course-features__title {

        font-size: 29px;

        font-weight: 500;
        line-height: 120%;

    }

    .course-features__description-wrapper {
        align-items: center;
        justify-content: center;
    }

    .course-features__description {

        font-size: 16px;

        font-weight: 400;
        line-height: 140%;

    }


    .course-features__icon {
        display: block;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 24px;
        left: 310px;
    }
}