<section class="listing-section">
    <div class="listing-section__container">
        <div class="listing-section__wrapper">
            <div class="listing-section__header">
                <div class="listing-section__title-wrapper">
                    <h1 class="listing-section__title">Блог авторів Digital Prostir</h1>
                </div>

                <nav class="listing-section__filter" role="navigation" aria-label="Фільтр категорій">
                    <span class="listing-section__filter-label">Фільтр:</span>
                    <button class="listing-section__filter-button listing-section__filter-button--active" type="button"
                        aria-pressed="true">
                        <span class="listing-section__filter-content"><span class="listing-section__filter-text">Всі
                                статті</span></span>
                    </button>
                    <button class="listing-section__filter-button" type="button" aria-pressed="false">
                        <span class="listing-section__filter-content"><span
                                class="listing-section__filter-text">Маркетинг</span></span>
                    </button>
                    <button class="listing-section__filter-button" type="button" aria-pressed="false">
                        <span class="listing-section__filter-content"><span
                                class="listing-section__filter-text">Реклама</span></span>
                    </button>
                    <button class="listing-section__filter-button" type="button" aria-pressed="false">
                        <span class="listing-section__filter-content"><span
                                class="listing-section__filter-text">Дизайн</span></span>
                    </button>
                </nav>
            </div>
        </div>
        <div class="listing-section__wrapper">
            <div class="listing-section__main">
                <div class="listing-section__section">
                    <div class="listing-section__section-content">
                        <div class="listing-section__section-header">
                            <h2 class="listing-section__section-title">
                                Рекомендовані записи:
                            </h2>
                        </div>

                        <div class="listing-section__wrapper">
                            <ul class="listing-section__grid">
                                <li class="article-card">
                                    <div class="article-card__content">
                                        <div class="article-card__image-wrapper">
                                            <div class="article-card__image-container">
                                                <img class="article-card__image" src="img/img-min-news.png"
                                                    alt="Зображення статті" aria-label="Зображення статті" />
                                            </div>
                                        </div>
                                        <div class="article-card__body-wrapper">
                                            <div class="article-card__body">
                                                <div class="article-card__badge-wrapper">
                                                    <span class="article-card__badge"><span
                                                            class="article-card__badge-text">Маркетинг</span></span>
                                                </div>
                                                <div class="article-card__text-wrapper">
                                                    <div class="article-card__text-content">
                                                        <h3 class="article-card__title">
                                                            5 Порад для Ефективного Управління Часом для Малих
                                                            Бізнесів
                                                        </h3>

                                                        <div class="article-card__description-wrapper">
                                                            <p class="article-card__description">
                                                                У світі постійних змін і високої конкуренції,
                                                                власникам малих бізнесів надзвичайно важливо
                                                                ефективно використовувати кожен день. Незалежно
                                                                від того, чи тільки починаєте ви свій бізнес, чи
                                                                вже керуєте успішною компанією, правильне
                                                                управління часом може стати вирішальним фактором
                                                                для досягнення успіху. У цій статті ми
                                                                поділимося п'ятьма корисними порадами, які
                                                                допоможуть вам стати більш продуктивними та
                                                                ефективно керувати часом.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="article-card">
                                    <div class="article-card__content">
                                        <div class="article-card__image-wrapper">
                                            <div class="article-card__image-container">
                                                <img class="article-card__image" src="img/img-min-news.png"
                                                    alt="Зображення статті" aria-label="Зображення статті" />
                                            </div>
                                        </div>
                                        <div class="article-card__body-wrapper">
                                            <div class="article-card__body">
                                                <div class="article-card__badge-wrapper">
                                                    <span class="article-card__badge"><span
                                                            class="article-card__badge-text">categoryBadge</span></span>
                                                </div>
                                                <div class="article-card__text-wrapper">
                                                    <div class="article-card__text-content">
                                                        <h3 class="article-card__title">
                                                            Nascetur lorem malesuada eget luctus hendrerit
                                                            class bibendum convallis aliquet senectus nibh
                                                            quisque venenatis proin cras sociosqu vitae
                                                        </h3>

                                                        <div class="article-card__description-wrapper">
                                                            <p class="article-card__description">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Proin ligula diam, tempus ut
                                                                egestas at, blandit a neque. Nam consectetur
                                                                urna nec ex...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="article-card">
                                    <div class="article-card__content">
                                        <div class="article-card__image-wrapper">
                                            <div class="article-card__image-container">
                                                <img class="article-card__image" src="img/img-min-news.png"
                                                    alt="Зображення статті" aria-label="Зображення статті" />
                                            </div>
                                        </div>
                                        <div class="article-card__body-wrapper">
                                            <div class="article-card__body">
                                                <div class="article-card__badge-wrapper">
                                                    <span class="article-card__badge"><span
                                                            class="article-card__badge-text">categoryBadge</span></span>
                                                </div>
                                                <div class="article-card__text-wrapper">
                                                    <div class="article-card__text-content">
                                                        <h3 class="article-card__title">
                                                            Nascetur lorem malesuada eget luctus hendrerit
                                                            class bibendum convallis aliquet senectus nibh
                                                            quisque venenatis proin cras sociosqu vitae
                                                        </h3>

                                                        <div class="article-card__description-wrapper">
                                                            <p class="article-card__description">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Proin ligula diam, tempus ut
                                                                egestas at, blandit a neque. Nam consectetur
                                                                urna nec ex...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="article-card">
                                    <div class="article-card__content">
                                        <div class="article-card__image-wrapper">
                                            <div class="article-card__image-container">
                                                <img class="article-card__image" src="img/img-min-news.png"
                                                    alt="Зображення статті" aria-label="Зображення статті" />
                                            </div>
                                        </div>
                                        <div class="article-card__body-wrapper">
                                            <div class="article-card__body">
                                                <div class="article-card__badge-wrapper">
                                                    <span class="article-card__badge"><span
                                                            class="article-card__badge-text">categoryBadge</span></span>
                                                </div>
                                                <div class="article-card__text-wrapper">
                                                    <div class="article-card__text-content">
                                                        <h3 class="article-card__title">
                                                            Nascetur lorem malesuada eget luctus hendrerit
                                                            class bibendum convallis aliquet senectus nibh
                                                            quisque venenatis proin cras sociosqu vitae
                                                        </h3>

                                                        <div class="article-card__description-wrapper">
                                                            <p class="article-card__description">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Proin ligula diam, tempus ut
                                                                egestas at, blandit a neque. Nam consectetur
                                                                urna nec ex...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="listing-section__section">
                    <div class="listing-section__section-content">
                        <div class="listing-section__wrapper">
                            <div class="listing-section__section-header">
                                <div class="listing-section__section-title-wrapper">
                                    <h2 class="listing-section__section-title">
                                        Останні записи:
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="listing-section__wrapper">
                            <ul class="listing-section__grid">
                                <li class="article-card">
                                    <div class="article-card__row">
                                        <div class="article-card__column">
                                            <div class="article-card__body">
                                                <div class="article-card__badge-wrapper">
                                                    <span class="article-card__badge"><span
                                                            class="article-card__badge-text">categoryBadge</span></span>
                                                </div>
                                                <div class="article-card__text-wrapper">
                                                    <div class="article-card__text-content">
                                                        <h3 class="article-card__title">
                                                            Nascetur lorem malesuada eget luctus hendrerit
                                                            class bibendum convallis aliquet senectus nibh
                                                            quisque venenatis proin cras sociosqu vitae
                                                        </h3>

                                                        <div class="article-card__description-wrapper">
                                                            <p class="article-card__description">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Proin ligula diam, tempus ut
                                                                egestas at, blandit a neque. Nam consectetur
                                                                urna nec ex...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="article-card">
                                    <div class="article-card__row">
                                        <div class="article-card__column">
                                            <div class="article-card__body">
                                                <div class="article-card__badge-wrapper">
                                                    <span class="article-card__badge"><span
                                                            class="article-card__badge-text">categoryBadge</span></span>
                                                </div>
                                                <div class="article-card__text-wrapper">
                                                    <div class="article-card__text-content">
                                                        <h3 class="article-card__title">
                                                            Nascetur lorem malesuada eget luctus hendrerit
                                                            class bibendum convallis aliquet senectus nibh
                                                            quisque venenatis proin cras sociosqu vitae
                                                        </h3>

                                                        <div class="article-card__description-wrapper">
                                                            <p class="article-card__description">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Proin ligula diam, tempus ut
                                                                egestas at, blandit a neque. Nam consectetur
                                                                urna nec ex...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="article-card">
                                    <div class="article-card__row">
                                        <div class="article-card__column">
                                            <div class="article-card__body">
                                                <div class="article-card__badge-wrapper">
                                                    <span class="article-card__badge"><span
                                                            class="article-card__badge-text">categoryBadge</span></span>
                                                </div>
                                                <div class="article-card__text-wrapper">
                                                    <div class="article-card__text-content">
                                                        <h3 class="article-card__title">
                                                            Nascetur lorem malesuada eget luctus hendrerit
                                                            class bibendum convallis aliquet senectus nibh
                                                            quisque venenatis proin cras sociosqu vitae
                                                        </h3>

                                                        <div class="article-card__description-wrapper">
                                                            <p class="article-card__description">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Proin ligula diam, tempus ut
                                                                egestas at, blandit a neque. Nam consectetur
                                                                urna nec ex...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="article-card">
                                    <div class="article-card__row">
                                        <div class="article-card__column">
                                            <div class="article-card__body">
                                                <div class="article-card__badge-wrapper">
                                                    <span class="article-card__badge"><span
                                                            class="article-card__badge-text">categoryBadge</span></span>
                                                </div>
                                                <div class="article-card__text-wrapper">
                                                    <div class="article-card__text-content">
                                                        <h3 class="article-card__title">
                                                            Nascetur lorem malesuada eget luctus hendrerit
                                                            class bibendum convallis aliquet senectus nibh
                                                            quisque venenatis proin cras sociosqu vitae
                                                        </h3>

                                                        <div class="article-card__description-wrapper">
                                                            <p class="article-card__description">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Proin ligula diam, tempus ut
                                                                egestas at, blandit a neque. Nam consectetur
                                                                urna nec ex...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="article-card">
                                    <div class="article-card__row">
                                        <div class="article-card__column">
                                            <div class="article-card__body">
                                                <div class="article-card__badge-wrapper">
                                                    <span class="article-card__badge"><span
                                                            class="article-card__badge-text">categoryBadge</span></span>
                                                </div>
                                                <div class="article-card__text-wrapper">
                                                    <div class="article-card__text-content">
                                                        <h3 class="article-card__title">
                                                            Nascetur lorem malesuada eget luctus hendrerit
                                                            class bibendum convallis aliquet senectus nibh
                                                            quisque venenatis proin cras sociosqu vitae
                                                        </h3>

                                                        <div class="article-card__description-wrapper">
                                                            <p class="article-card__description">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Proin ligula diam, tempus ut
                                                                egestas at, blandit a neque. Nam consectetur
                                                                urna nec ex...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="article-card">
                                    <div class="article-card__row">
                                        <div class="article-card__column">
                                            <div class="article-card__body">
                                                <div class="article-card__badge-wrapper">
                                                    <span class="article-card__badge"><span
                                                            class="article-card__badge-text">categoryBadge</span></span>
                                                </div>
                                                <div class="article-card__text-wrapper">
                                                    <div class="article-card__text-content">
                                                        <h3 class="article-card__title">
                                                            Nascetur lorem malesuada eget luctus hendrerit
                                                            class bibendum convallis aliquet senectus nibh
                                                            quisque venenatis proin cras sociosqu vitae
                                                        </h3>

                                                        <div class="article-card__description-wrapper">
                                                            <p class="article-card__description">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Proin ligula diam, tempus ut
                                                                egestas at, blandit a neque. Nam consectetur
                                                                urna nec ex...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="search-results__pagination" role="navigation" aria-label="Пагінація">
                    <div class="search-results__pagination-inner">
                        <button class="search-results__pagination-button search-results__pagination-button--arrow"
                            type="button" aria-label="Попередня сторінка">
                            <span class="search-results__button-content">
                                <svg class="search-results__icon" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="17" viewBox="0 0 16 17" fill="none">
                                    <path
                                        d="M5.02842 9.4139C4.54522 8.9005 4.54522 8.09966 5.02842 7.58626L9.93172 2.37651C10.1841 2.10839 10.606 2.09561 10.8741 2.34795C11.1422 2.60029 11.155 3.02221 10.9026 3.29033L5.99935 8.50008L10.9026 13.7098C11.155 13.978 11.1422 14.3999 10.8741 14.6522C10.606 14.9046 10.1841 14.8918 9.93172 14.6237L5.02842 9.4139Z"
                                        fill="#5B5AFF" />
                                </svg>
                            </span>
                        </button>
                        <button class="search-results__pagination-button search-results__pagination-button--number"
                            type="button" aria-current="page" aria-label="Сторінка 1">
                            <span class="search-results__button-content">
                                <span class="search-results__pagination-text">01</span>
                            </span>
                        </button>
                        <button class="search-results__pagination-button search-results__pagination-button--number"
                            type="button" aria-label="Сторінка 2">
                            <span class="search-results__button-content">
                                <span class="search-results__pagination-text">02</span>
                            </span>
                        </button>
                        <button class="search-results__pagination-button search-results__pagination-button--number"
                            type="button" aria-label="Сторінка 3">
                            <span class="search-results__button-content">
                                <span class="search-results__pagination-text">03</span>
                            </span>
                        </button>
                        <button class="search-results__pagination-button search-results__pagination-button--arrow"
                            type="button" aria-label="Наступна сторінка">
                            <span class="search-results__button-content">
                                <svg class="search-results__icon" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="17" viewBox="0 0 16 17" fill="none">
                                    <path
                                        d="M10.7215 9.4139C11.2047 8.9005 11.2047 8.09966 10.7215 7.58626L5.81815 2.37651C5.56581 2.10839 5.14389 2.09561 4.87577 2.34795C4.60766 2.60029 4.59487 3.02221 4.84722 3.29033L9.75052 8.50008L4.84722 13.7098C4.59487 13.978 4.60766 14.3999 4.87577 14.6522C5.14389 14.9046 5.56581 14.8918 5.81815 14.6237L10.7215 9.4139Z"
                                        fill="#5B5AFF" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>