<section class="about__course-acquisition">
    <div class="course-acquisition__content">
        <div class="course-acquisition__title-wrapper">
            <h3 class="course-acquisition__title">Чому нам варто довіряти</h3>
        </div>
        <div class="course-acquisition__cards-wrapper">
            <ul class="course-acquisition__cards-list">
                <li class="course-acquisition__decor course-acquisition__decor--left">
                    <div class="course-acquisition__decor-placeholder"></div>
                </li>
                <li class="about__course-acquisition__card">
                    <img class="course-acquisition__card-image"
                        src="img/a57566e9fe0f1fef33878a89e76e9bd049291516-min.png"
                        alt="Експерт з практичним досвідом" />
                    <div class="course-acquisition__card-info">
                        <div class="course-acquisition__card-title-wrapper">
                            <h2 class="about__course-acquisition__card-title">Запрошуємо експертів</h2>
                        </div>
                        <div class="course-acquisition__card-description">
                            <p class="course-acquisition__card-text">Ми запрошуємо експертів з практичним досвідом і
                                результатами сьогодні</p>
                        </div>
                    </div>
                </li>
                <li class="about__course-acquisition__card">
                    <img class="course-acquisition__card-image"
                        src="img/5578041ab21582b33800d718bffbaa8c2efffabf-min.png" alt="Вивчення нових трендів" />
                    <div class="course-acquisition__card-info">
                        <div class="course-acquisition__card-title-wrapper">
                            <h2 class="about__course-acquisition__card-title">Вивчаємо нові тренди</h2>
                        </div>
                        <div class="course-acquisition__card-description">
                            <p class="course-acquisition__card-text">Постійно вивчнаємо нову інформацію і готуємо по ній
                                практичні статі та поради</p>
                        </div>
                    </div>
                </li>
                <li class="about__course-acquisition__card course-acquisition__card--variant">
                    <img class="course-acquisition__card-image"
                        src="img/f259d3d03c2e20761282e8ad8a95a80028c491f5-min.png" alt="Аналіз потреб користувачів" />
                    <div class="course-acquisition__card-info">
                        <div class="course-acquisition__card-title-wrapper">
                            <h2 class="about__course-acquisition__card-title">Аналізуємо потреби</h2>
                        </div>
                        <div class="course-acquisition__card-description">
                            <p class="course-acquisition__card-text">Аналізуємо запити читачів і покращуємо программу,
                                створюємо актуальні продукти</p>
                        </div>
                    </div>
                </li>
                <li class="course-acquisition__decor course-acquisition__decor--right">
                    <div class="course-acquisition__decor-placeholder"></div>
                </li>
            </ul>
        </div>
    </div>
</section>