<section class="about-features">
    <div class="about-features__container">
        <div class="about-features__row">
            <ul class="about-features__list">
                <li class="about-features__item">
                    <img class="about-features__bg" src="img/68b0eb4dc9a7c201fb8b159e3efd0bf7febe3779-min.png"
                        alt="Decorative background for materials provision" />
                    <div class="about-features__content">
                        <div class="about-features__number-wrapper">
                            <h6 class="about-features__number">01</h6>
                        </div>
                        <div class="about-features__text-wrapper">
                            <p class="about-features__text"> Надання матеріалів для покращення результативності
                                маркетингу і закриття
                                точкових питань через блог та статті </p>
                        </div>
                    </div>
                </li>
                <li class="about-features__item about-features__item--second">
                    <img class="about-features__bg" src="img/bf9548a6ff2ebbd7d4409f186ab81680bc204f9f-min.png"
                        alt="Decorative background for course creation" />
                    <div class="about-features__content">
                        <div class="about-features__number-wrapper">
                            <h6 class="about-features__number">02</h6>
                        </div>
                        <div class="about-features__text-wrapper">
                            <p class="about-features__text"> Створення курсів від практикуючих експертів для розвитку
                                навичок, знань та
                                закриття маркетингових цілей </p>
                        </div>
                    </div>
                </li>
                <li class="about-features__item about-features__item--third">
                    <img class="about-features__bg" src="img/3697beaaf4d8de9b95f0d173c779335aac26dabf-min.png"
                        alt="Decorative background for workshops and events" />
                    <div class="about-features__content">
                        <div class="about-features__number-wrapper">
                            <h6 class="about-features__number">03</h6>
                        </div>
                        <div class="about-features__text-wrapper">
                            <p class="about-features__text"> Організація зустрічей із спікерами, проведення воркшопів та
                                майстеркласів
                                на конкретні теми під запити читачів </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>