<section class="about__hero-section">
    <div class="content">
        <div class="column">
            <div class="div">
                <div class="line">
                    <div class="content-2">

                        <div class="content-3">
                            <h1 class="text">Концепція нашої організації — це тристоронній підхід</h1>
                        </div>

                    </div>
                </div>
                <div class="line">
                    <div class="content-3">
                        <article class="content-wrapper">
                            <div class="content-4">
                                <div class="column-2" aria-label="Номер 01"> <span class="text-wrapper">01</span> </div>
                                <div class="div-wrapper">
                                    <h2 class="text-2">Практична інформація</h2>
                                </div>
                            </div>
                        </article>
                        <article class="content-wrapper">
                            <div class="content-4">
                                <div class="column-2" aria-label="Номер 02"> <span class="text-wrapper">02</span> </div>
                                <div class="div-wrapper">
                                    <h2 class="text-2">Результативні курcи</h2>
                                </div>
                            </div>
                        </article>
                        <article class="content-wrapper">
                            <div class="content-4">
                                <div class="column-2" aria-label="Номер 03"> <span class="text-wrapper">03</span> </div>
                                <div class="div-wrapper">
                                    <h2 class="text-2">Підтримка</h2>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-wrapper"> <img class="bg" src="img/heroabout-min.png"
                alt="Декоративне зображення з хвилястими лініями в синьо-фіолетових тонах" /> </div>
    </div>
</section>