<main class="course-features">
    <section class="content">
        <div class="line">
            <div class="div">
                <article class="column"> <img class="bg" src="img/68b0eb4dc9a7c201fb8b159e3efd0bf7febe3779-min.png"
                        alt="Decorative background for materials provision" />
                    <div class="content-2">
                        <header class="line">
                            <h2 class="text">01</h2>
                        </header>
                        <div class="text-wrapper">
                            <p class="p"> Надання матеріалів для покращення результативності маркетингу і закриття
                                точкових питань через блог та статті </p>
                        </div>
                    </div>
                </article>
                <article class="column-2"> <img class="bg" src="img/bf9548a6ff2ebbd7d4409f186ab81680bc204f9f-min.png"
                        alt="Decorative background for course creation" />
                    <div class="content-2">
                        <header class="line">
                            <h2 class="text">02</h2>
                        </header>
                        <div class="text-wrapper">
                            <p class="p"> Створення курсів від практикуючих експертів для розвитку навичок, знань та
                                закриття маркетингових цілей </p>
                        </div>
                    </div>
                </article>
                <article class="column-3"> <img class="bg" src="img/3697beaaf4d8de9b95f0d173c779335aac26dabf-min.png"
                        alt="Decorative background for workshops and events" />
                    <div class="content-2">
                        <header class="line">
                            <h2 class="text">03</h2>
                        </header>
                        <div class="text-wrapper">
                            <p class="text-2"> Організація зустрічей із спікерами, проведення воркшопів та майстеркласів
                                на конкретні теми під запити читачів </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>