<section class="about-hero">
    <div class="about-hero__content">
        <div class="about-hero__column">
            <div class="about-hero__container">
                <div class="about-hero__row">
                    <div class="about-hero__content-wrapper">
                        <div class="about-hero__title-wrapper">
                            <h1 class="about-hero__title">Концепція нашої організації — це тристоронній підхід</h1>
                        </div>
                    </div>
                </div>
                <div class="about-hero__row">
                    <ul class="about-hero__list">
                        <li class="about-hero__list-item">
                            <div class="about-hero__item-content">
                                <div class="about-hero__number" aria-label="Номер 01">
                                    <span class="about-hero__number-text">01</span>
                                </div>
                                <div class="about-hero__text-wrapper">
                                    <h2 class="about-hero__item-text">Практична інформація</h2>
                                </div>
                            </div>
                        </li>
                        <li class="about-hero__list-item">
                            <div class="about-hero__item-content">
                                <div class="about-hero__number" aria-label="Номер 02">
                                    <span class="about-hero__number-text">02</span>
                                </div>
                                <div class="about-hero__text-wrapper">
                                    <h2 class="about-hero__item-text">Результативні курcи</h2>
                                </div>
                            </div>
                        </li>
                        <li class="about-hero__list-item">
                            <div class="about-hero__item-content">
                                <div class="about-hero__number" aria-label="Номер 03">
                                    <span class="about-hero__number-text">03</span>
                                </div>
                                <div class="about-hero__text-wrapper">
                                    <h2 class="about-hero__item-text">Підтримка</h2>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-hero__image-wrapper">
            <img class="about-hero__image" src="img/heroabout-min.png"
                alt="Декоративне зображення з хвилястими лініями в синьо-фіолетових тонах" />
        </div>
    </div>
</section>