.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 24px 16px 32px;
    position: relative;
    background-color: #ffffff;
}

.article__container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    width: 100%;
    flex: 0 0 auto;
}

.article__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__title {
    align-self: stretch;
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-size: 29px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.29px;
}

.article__layout {
    display: flex;
    flex-wrap: wrap;
    max-width: 1176px;
    align-items: flex-start;
    gap: 48px 16px;
    position: relative;
    width: 100%;
    flex: 0 0 auto;
}

.article__main {
    min-width: 288px;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
}

.article__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.article__hero {
    display: flex;
    flex-direction: column;
    height: 276px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.article__hero-image {
    height: 100%;
    width: 100%;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    object-fit: cover;
}

.article__category-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 6px;
    position: absolute;
    right: 0px;
    background: var(--colors-additional-colors-dodger-blue-20, #dedeff);
}

.article__category-text {
    color: var(--colors-additional-colors-dodger-blue-100, #5b5aff);
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
}

.article__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__text {
    flex: 1;
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 140%;
}

.article__subtitle {
    flex: 1;
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.article__tip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__tip-label {
    flex: 1;
    color: var(--colors-additional-colors-dodger-blue-100, #5b5aff);
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.article__tip-text {
    flex: 1;
    color: var(--colors-basic-colors-grayscale-80, #393939);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.article__separator {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    object-fit: cover;
    background: var(--colors-neutral-200, #E4E7EC);
}

.article__separator--light {
    background: var(--colors-basic-colors-grayscale-20-75, rgba(243, 243, 243, 0.75));
}

.article__course {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 24px;
}

.article__course-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 25px 25px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.article__course-column {
    display: flex;
    flex-direction: column;
    min-width: 176px;
    align-items: flex-start;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.article__course-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__course-label {
    flex: 1;
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.article__course-title {
    align-self: stretch;
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.5px;
}

.article__author-name {
    color: var(--colors-basic-colors-grayscale-100, #101010);
    align-self: stretch;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.article__course-feature {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__icon {
    position: relative;
    width: 24px;
    height: 24px;
}

.article__button {
    height: 42px;
    padding: 0px 16px;
    background-color: #101010;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    border-radius: 99px;
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}

.article__button:hover {
    background: var(--colors-additional-colors-dodger-blue-100, #5b5aff);
}

.article__button-action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.article__button-text {
    color: var(--colors-neutral-0, #ffffff);
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 500;
    line-height: 120%;
}

.article__sidebar {
    min-width: 288px;
    max-width: 376px;
    align-items: center;
    gap: 8px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
}

.article__sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.article__author {
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--colors-neutral-0, #ffffff);
}

.article__author-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.article__author-avatar {
    width: 48px;
    height: 48px;
    align-items: center;
    gap: 5.05px;
    background-color: #f3f3f380;
    border-radius: 62.53px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.article__author-image {
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
}

.article__author-info {
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
}

.article__author-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__author-label {
    flex: 1;
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
}

.article__author-position {
    color: var(--colors-basic-colors-grayscale-100, #101010);
    flex: 1 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.article__button-text--author {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.article__form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #f3f3f380;
    border-radius: 24px;
    overflow: hidden;
}

.article__form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__form-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__form-title {
    flex: 1;
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-size: 21px;
    font-weight: 500;
    line-height: 120%;
}

.article__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__field-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__field {
    display: flex;
    flex-direction: column;
    height: 35px;
    align-items: flex-start;
    justify-content: center;
    padding: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--colors-neutral-0, #ffffff);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e4e7ec;
}

.article__field-inner {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-top: -0.50px;
    margin-bottom: -0.50px;
}

.article__field-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.article__form-footer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.article__submit-button {
    padding: 16px 12px 16px 16px;
    flex: 0 0 auto;
    background-color: #5b5aff;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}

.article__submit-button:hover {
    background-color: #7B7BFF;
}

.article__button-icon {
    position: relative;
    width: 16px;
    height: 16px;
}

.article__form-info {
    height: 276px;
    align-items: center;
    gap: 8px;
    padding: 16px;
    align-self: stretch;
    width: 100%;
    background-color: #f0f2f5;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.article__form-info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
}

.article__brand {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.article__logo {
    position: relative;
    width: 32px;
    height: 32px;
}

.article__brand-name {
    color: var(--colors-basic-colors-grayscale-100, #101010);
    font-family: var(--font-family-Azo-Sans, "Azo Sans");
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.article__input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--colors-basic-colors-grayscale-60, #696969);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.article__input:focus::placeholder {
    color: transparent;
    transition: color 0.2s ease-out;
}

.article__field:hover {
    border-bottom: 1px solid var(--colors-additional-colors-dodger-blue-80, #7B7BFF);
}

.article__input::placeholder {
    color: var(--colors-basic-colors-grayscale-60, #696969);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.article__field:has(input:invalid:not(:placeholder-shown)) {
    border-bottom: 1px solid #ff3838;
}

.article__field input:invalid:not(:placeholder-shown) {
    color: #ff3838;
}

.article__button {
    cursor: pointer;
}


@media (min-width: 1280px) {
    .article {
        padding: 32px 52px 96px;
    }

    .article__container {
        max-width: 1176px;
        gap: 48px;
    }

    .article__title {
        font-size: 40px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.4px;
    }

    .article__layout {
        flex-wrap: nowrap;
        gap: 124px;
        align-items: stretch;
    }

    .article__content {
        gap: 20px;
    }

    .article__section {
        gap: 22px;
    }

    .article__hero {
        height: 376px;
    }

    .article__category-badge {
        top: 0;
        right: 0px;
    }

    .article__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }

    .article__subtitle {
        font-size: 21px;
        font-weight: 500;
        line-height: 120%;
    }

    .article__tip-label {
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }

    .article__tip-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }

    .article__course {
        padding: 24px;
    }

    .article__course-wrapper {
        flex-direction: column;
        align-items: flex-end;
        gap: 25px;
    }

    .article__form-info {
        height: 376px;
        padding: 24px;
        gap: 8px;
    }

    .article__course-title {
        font-size: 21px;
        font-weight: 500;
        line-height: 120%;
    }

    .article__button-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }

    .article__sidebar {
        display: block;
        flex: 0 0 360px;
        max-width: 376px;
        min-width: 288px;
        align-self: stretch;
    }

    .article__sidebar-content {
        display: grid;
        grid-template-rows: max-content 1fr;
        gap: 48px;
        height: 100%;
    }

    .article__author {
        margin: 0;
    }

    .article__author-label {
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;
    }

    .article__form-section {
        padding: 24px;
        border-radius: 32px;
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
        z-index: 10;
        overflow: visible !important;
        align-self: start;
    }

    .article__form-container {
        gap: 48px;
        overflow: hidden;
    }

    .article__form-content {
        gap: 32px;
    }

    .article__form-title {
        font-size: 28px;
        font-weight: 500;
        line-height: 120%;
    }

    .article__author-name {
        font-size: 21px;
        font-weight: 500;
        line-height: 120%;
    }

    .article__author-position {
        font-size: 16px;
    }

    .article__button-text--author {
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }

    .article__brand-name {
        font-size: 24px;
        font-weight: 500;
        line-height: 140%;
    }

    .article__course-title:hover {
        color: var(--colors-additional-colors-dodger-blue-100);
        transition: color 0.3s ease-in-out;
    }

    .article__course:hover {
        border: 1.5px solid var(--colors-additional-colors-dodger-blue-40);
        border-radius: 24px;
        cursor: pointer;
    }

    .article__course:hover .article__course-title {
        color: var(--colors-additional-colors-dodger-blue-100);
        transition: color 0.3s ease-in-out;
    }

}