<section class="privacy">
    <div class="privacy__container">
        <div class="privacy__wrapper">
            <h1 class="privacy__title">Політика конфіденційності</h1>
        </div>
        <div class="privacy__wrapper">
            <div class="privacy__layout">
                <aside class="privacy__sidebar">
                    <div class="privacy__sidebar-content">
                        <nav class="privacy__nav">
                            <div class="privacy__nav-list">
                                <button class="privacy__nav-button" type="button" aria-pressed="true">
                                    <span class="privacy__nav-text">Політика конфіденційності</span>
                                </button>
                                <button class="privacy__nav-button" type="button" aria-pressed="false">
                                    <span class="privacy__nav-text">Правила користування</span>
                                </button>
                            </div>
                        </nav>
                        <div class="privacy__sticky-form">
                            <div class="privacy__sticky-form-wrapper">
                                <div class="privacy__wrapper">
                                    <div class="privacy__sticky-form-content">
                                        <div class="privacy__row">
                                            <h2 class="privacy__form-title">Залишились питання?</h2>
                                        </div>
                                        <div class="privacy__row">
                                            <p class="privacy__form-text">
                                                Якщо залишились питання або маєте пропозиції, заповніть
                                                форму і наша команда зв'яжиться з вами щонайшвидше
                                            </p>
                                        </div>
                                        <div class="privacy__form-wrapper">
                                            <form class="privacy__form" role="form" id="contact-form"
                                                aria-label="Форма зворотного зв'язку">
                                                <div class="article__form-fields">
                                                    <div class="article__section">
                                                        <div class="article__field-container">
                                                            <div class="article__field">
                                                                <div class="article__field-inner">
                                                                    <div class="article__field-wrapper">
                                                                        <label for="name" class="sr-only">Ваше
                                                                            ім'я</label>
                                                                        <input type="text" id="name" name="name"
                                                                            class="article__input"
                                                                            placeholder="Ваше ім'я" required />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="article__section">
                                                        <div class="article__field-container">
                                                            <div class="article__field">
                                                                <div class="article__field-inner">
                                                                    <div class="article__field-wrapper">
                                                                        <label for="phone"
                                                                            class="sr-only">Телефон</label>
                                                                        <input type="tel" id="phone" name="phone"
                                                                            class="article__input" placeholder="Телефон"
                                                                            required />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="article__section">
                                                        <div class="article__field-container">
                                                            <div class="article__field">
                                                                <div class="article__field-inner">
                                                                    <div class="article__field-wrapper">
                                                                        <label for="email" class="sr-only">Email</label>
                                                                        <input type="email" id="email" name="email"
                                                                            class="article__input" placeholder="Email"
                                                                            required />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="privacy__buttons-wrapper">
                                                <button type="submit" class="contacts__submit-button"
                                                    aria-label="Надіслати запит на консультацію">
                                                    <span class="contacts__button-content">
                                                        <span class="contacts__button-text">
                                                            Надіслати запит
                                                        </span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17"
                                                            viewBox="0 0 16 17" fill="none">
                                                            <g clip-path="url(#clip0_2008_1232)">
                                                                <path
                                                                    d="M12.0695 2.87376C12.5025 3.01808 12.8422 3.35782 12.9865 3.79079C13.1334 4.23142 13.7567 4.23142 13.9036 3.79079C14.0479 3.35782 14.3876 3.01808 14.8206 2.87376C15.2612 2.72688 15.2612 2.10361 14.8206 1.95673C14.3876 1.81241 14.0479 1.47267 13.9036 1.03971C13.7567 0.599069 13.1334 0.599069 12.9865 1.03971C12.8422 1.47267 12.5025 1.81241 12.0695 1.95673C11.6289 2.10361 11.6289 2.72688 12.0695 2.87376Z"
                                                                    fill="white" />
                                                                <path
                                                                    d="M15.0999 7.37484L2.37499 1.64862C1.3467 1.18588 0.237873 2.11314 0.511361 3.20709L1.397 6.74964C1.53942 7.31931 2.03375 7.73158 2.61974 7.76938L15.5857 8.6059L2.61974 9.44241C2.03375 9.48021 1.53942 9.89248 1.397 10.4622L0.511361 14.0047C0.237873 15.0987 1.34669 16.0259 2.37499 15.5632L15.0999 9.83696C16.1612 9.35936 16.1612 7.85243 15.0999 7.37484Z"
                                                                    fill="white" />
                                                            </g>
                                                            <defs>
                                                                <clipPath id="clip0_2008_1232">
                                                                    <rect width="16" height="16" fill="white"
                                                                        transform="translate(0 0.5)" />
                                                                </clipPath>
                                                            </defs>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="privacy__main">
                    <div class="privacy__content">
                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">Політика конфіденційності ГО «Діджітал простір»</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Ця угода про конфіденційність розроблена відповідно до вимог Закону України «Про
                                    захист персональних даних» та інших
                                    нормативних актів українського законодавства, що регламентують правові відносини,
                                    пов’язані зі збиранням, обробкою,
                                    зберіганням персональних даних, а також правом громадян на невтручання в особисте
                                    життя та правом на самовираження.

                                    ГО «Діджітал простір», дбаючи про розвиток взаємовідносин з клієнтами, розуміючи
                                    важливість забезпечення охорони Ваших
                                    персональних даних, з метою вирішення можливих протиріч та непорозумінь підготувало
                                    цю Угоду про конфіденційність
                                    (політику конфіденційності), далі за текстом – «Політика конфіденційності умови
                                    користування веб-сайтом
                                    https://prostir.digital/ , далі за текстом – сайт. Будь ласка, уважно прочитайте цю
                                    сторінку. інформація, викладена на
                                    ній, є важливою для Вас як для Користувача сайту.


                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">1. ВИЗНАЧЕННЯ ТЕРМІНІВ</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    1.1 У цій Політиці конфіденційності використовуються такі терміни:<br />

                                    1.1.1. «Адміністрація сайту  – уповноважені співробітники на управління сайтом, які
                                    організовують обробку персональних
                                    даних, а також визначає цілі обробки персональних даних, склад персональних даних,
                                    що підлягають обробці, дії чи
                                    операції, що здійснюються з персональними даними.<br />

                                    1.1.2. «Персональні дані» – будь-яка інформація, що відноситься прямо чи
                                    опосередковано до певної чи фізичній особі
                                    (суб’єкту персональних даних).<br />

                                    1.1.3. «Обробка персональних даних» – будь-яка дія (операція) або сукупність дій
                                    (операцій), що здійснюються з
                                    використанням засобів автоматизації або без використання таких засобів з
                                    персональними даними, включаючи збирання,
                                    запис, систематизацію, накопичення, зберігання, уточнення (оновлення, зміну),
                                    вилучення, використання, передачу
                                    (поширення, надання, доступ), знеособлення, блокування, видалення, знищення
                                    персональних даних.<br />

                                    1.1.4. «Конфіденційність персональних даних» – обов’язкова для дотримання
                                    Адміністратором або іншою особою, яка отримала
                                    доступ до персональних даних, вимога не допускати їх розповсюдження без згоди
                                    суб’єкта персональних даних або наявності
                                    іншої законної підстави.<br />

                                    1.1.5. «Користувач сайту ГО «Діджітал простір» – особа, яка має доступ до Сайту, за
                                    допомогою мережі Інтернет та
                                    використовує Сайт ГО.<br />

                                    1.1.6. “Cookies” – невеликий фрагмент даних, надісланий веб-сервером і зберігається
                                    на комп’ютері користувача, який
                                    веб-клієнт або веб-браузер щоразу пересилає веб-серверу в HTTP-запиті, намагаючись
                                    відкрити сторінку відповідного сайту.<br />

                                    1.1.7. IP-адреса — унікальна мережна адреса вузла в комп’ютерній мережі, побудованій
                                    за протоколом IP.<br />
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">2.ПРЕДМЕТ ПОЛІТИКИ КОНФІДЕНЦІЙНОСТІ</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    2.1. Користуючись сайтом або купуючи товар, пропонований на сайті, а також
                                    відповідаючи на необхідні питання в анкеті
                                    при реєстрації та/або оформленні покупки, користувач підтверджує, що дає згоду ГО
                                    «Діджітал простір» та уповноваженим
                                    ним особам на обробку персональних даних, а також є повнолітнім обличчям.<br />

                                    2.2. Користувач дає свою згоду Адміністрація сайту на обробку отриманої інформації,
                                    включаючи збирання, систематизацію,
                                    накопичення, зберігання, уточнення (оновлення, виправлення), використання,
                                    розповсюдження, знеособлення, блокування,
                                    знищення персональних даних, зазначених в анкеті, з метою заходів, спрямованих на
                                    формування бази даних учасників,
                                    складання статистичної звітності, проведення маркетингових досліджень, а також
                                    здійснення взаємодії з користувачем, у
                                    тому числі по мережах електрозв’язку, включаючи направлення SMS-повідомлень та
                                    електронних листів, до відкликання такої
                                    згоди.<br />

                                    2.3. Користувач підтверджує свою згоду з тим, що Адміністрація сайту має право
                                    взаємодіяти з Користувачем шляхом
                                    здійснення прямих контактів за допомогою різних засобів зв’язку, включаючи, але не
                                    обмежуючись: поштове розсилання,
                                    електронна пошта, мережа Інтернет та ін.<br />

                                    2.4. Персональні дані, дозволені для обробки в рамках цієї Політики
                                    конфіденційності, включають, але не обмежуються
                                    наступною інформацією:<br />

                                    2.4.1. ПІБ Користувача;<br />

                                    2.4.2. контактний телефон Користувача;<br />

                                    2.4.3. адресу електронної пошти (e-mail);<br />

                                    2.4.4. місце проживання Користувача.<br />
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">3. ЦІЛІ ЗБОРУ І ОБРОБКИ ПЕРСОНАЛЬНИХ ДАНИХ</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    3.1. Персональну інформацію Користувача ГО «Діджітал простір» використовує в таких
                                    цілях:<br />

                                    3.1.1. ідентифікації Користувача, зареєстрованого на сайті ГО, для оформлення
                                    замовлення та (або) укладання Договору
                                    купівлі-продажу послуги.<br />

                                    3.1.2. надання Користувачеві ефективної клієнтської підтримки;<br />

                                    3.1.3. надання Користувачеві персоналізованих Сервісів;<br />

                                    3.1.4. зв’язку з Користувачем, у тому числі направлення повідомлень, запитів та
                                    інформації щодо використання Сервісів,
                                    надання послуг, а також обробки запитів та заявок від Користувача;<br />

                                    3.1.5. покращення якості Сервісів, зручності їх використання, розробка нових
                                    Сервісів та послуг;<br />

                                    3.1.6. надання інформації про товари, послуги, про рекламні акції, відповіді на
                                    запити, а також виконання своїх
                                    зобов’язань перед споживачами товарів (послуг);<br />

                                    3.1.7. проведення статистичних та інших досліджень на основі знеособлених
                                    даних.<br />
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">4. КАТЕГОРІЇ ЗІБРАНИХ ДАНИХ</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    4.1.Категорії Персональні дані, збирання яких здійснює сайт (самостійно або за
                                    посередництвом третіх осіб), включають:
                                    Файли cookie та Дані про використання мережних ресурсів.<br />

                                    4.2. Персональні дані можуть надаватися Користувачем самостійно або їх збирання може
                                    автоматично здійснювати сайт під
                                    час його використання. Якщо не вказано інше, сайт використовує файли cookie (або
                                    інші засоби відстеження) для
                                    ідентифікації Користувачів та запам’ятовування встановлених ними глобальних
                                    параметрів налаштування виключно з метою
                                    надання послуги, яка потрібна Користувачеві.<br />

                                    4.3. Користувачі несуть відповідальність за Персональні дані третіх осіб, які вони
                                    отримують, публікують або надають
                                    іншим особам, використовуючи сайт, і підтверджують, що вони мають згоду третьої
                                    особи на надання Даних Власнику.<br />
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">5. СПОСОБИ ТА ТЕРМІНИ ОБРОБКИ ПЕРСОНАЛЬНИХ ДАНИХ</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    5.1. Обробка персональних даних Користувача здійснюється без обмеження терміну
                                    будь-яким законним способом, у тому числі
                                    в інформаційних системах персональних даних з використанням засобів автоматизації
                                    або без використання таких засобів.<br />

                                    5.2. Користувач погоджується з тим, що Адміністрація сайту має право передавати
                                    персональні дані третім особам, зокрема
                                    партнерам ГО, операторам електрозв’язку, виключно з метою виконання замовлення
                                    Користувача, оформленого на Сайті.<br />
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">6. ПРАВА КОРИСТУВАЧІ</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    6.1. Користувачі мають право:<br />

                                    6.1.1. дізнатися, чи були збережені їх особисті дані;<br />

                                    6.1.2. звертатися до Адміністрації сайту, щоб дізнатися про їх зміст та
                                    походження;<br />

                                    6.1.3. перевірити їх достовірність чи попросити їх доповнити;<br />

                                    6.1.4. видалити, оновити або виправити свої дані;<br />

                                    6.1.5. перетворити на формат, що забезпечує анонімність;<br />

                                    6.1.6. блокувати будь-які дані, що зберігаються порушуючи закон;<br />

                                    6.1.7 виступити проти їх обробки з усіх без винятку законних підстав.<br />

                                    6.2. Відповідні запити слід надсилати адміністрації сайту на адресу, вказану в
                                    контактних відомостях на сайті.<br />
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">7. ПОЛІТИКА ЩОДО ФАЙЛІВ COOKIE</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    7.1. Сайт збирає інформацію про відвідування Вами наших веб-сайтів з метою отримання
                                    статистики відвідувань та
                                    ефективності їх використання, формування персонального підходу та адаптації до
                                    інтересів кожного користувача. Ми робимо
                                    це за допомогою різних технологій, одна з яких – cookie-файли. Це дані, які веб-сайт
                                    може надіслати вашому браузеру, і
                                    вони будуть збережені на вашому комп’ютері для подальшої ідентифікації його
                                    веб-сайтом.<br />

                                    7.2. Cookie-файли використовуються для оцінки ефективності веб-сайтів (наприклад,
                                    для вимірювання кількості відвідувачів
                                    та тривалості їх перебування на сайті), виявлення найбільш цікавих та відвідуваних
                                    тем та сторінок, а також для
                                    забезпечення зручності навігації та користування сайтом, без збору будь-якої
                                    персональної інформації. Також cookie-файли
                                    можуть бути використані для формування персонального підходу на основі вже наявного
                                    досвіду взаємодії користувача з
                                    сайтом та його перевагами. З часом ця інформація дозволяє покращити
                                    користувальницький досвід.<br />
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">8. БЕЗПЕКА ПЕРСОНАЛЬНИХ ДАНИХ/h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    8.1. ГО «Діджітал простір» вживає необхідних організаційних та технічних заходів для
                                    захисту персональної інформації
                                    Користувача від неправомірного або випадкового доступу, знищення, зміни, блокування,
                                    копіювання, розповсюдження, а також
                                    від інших неправомірних дій третіх осіб.<br />

                                    8.2. Ця Політика конфіденційності поширюється лише на сайт ГО «Діджітал простір».
                                    Якщо за посиланнями, розміщеними на
                                    сайті останнього, Користувач зайде на ресурси третіх осіб, то ГО за його дії
                                    відповідальності не несе.<br />

                                    8.3. Персональні дані Користувача можуть бути використані в юридичних цілях у суді
                                    або на етапах, що ведуть до можливого
                                    звернення до суду через те, що сайт або послуги використовувалися неналежним
                                    чином.<br />

                                    Користувач обізнаний, що Адміністрація сайту може бути змушена повідомити
                                    персональні дані на вимогу органів державної
                                    влади.<br />
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">9. ДОДАТКОВА ІНФОРМАЦІЯ ПРО ПЕРСОНАЛЬНІ ДАНІ
                                    КОРИСТУВАЧІ</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    9.1. Крім інформації, що міститься в цих правилах забезпечення конфіденційності
                                    персональних даних, сайт може надавати
                                    Користувачеві за запитом додаткову та контекстуальну інформацію, що стосується
                                    конкретних послуг та сервісів або збору
                                    та обробки персональних даних.<br />

                                    9.2. З метою забезпечення роботи сайту та його технічного обслуговування сайт і
                                    будь-які сторонні сервіси можуть вести
                                    файли, в яких реєструється взаємодія сайту з Користувачами (системні журнали), або
                                    використовувати з цією метою інші
                                    Персональні дані (зокрема, IP-адресу).<br />
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">10. ДОДАТКОВІ УМОВИ</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    10.1. Адміністрація сайту має право вносити зміни до цієї Політики конфіденційності
                                    без згоди Користувача.<br />

                                    10.2. Нова Політика конфіденційності набирає чинності з моменту її розміщення на
                                    Сайті, якщо інше не передбачено новою
                                    редакцією Політики конфіденційності.<br />

                                    10.3. У разі незгоди з будь-якими змінами, внесеними до Правил, Користувач повинен
                                    припинити користуватися сайтом і може
                                    вимагати, щоб Адміністрація сайту даних видалила його Персональні дані.<br />
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>