<section class="privacy">
    <div class="privacy__container">
        <div class="privacy__wrapper">
            <h1 class="privacy__title">Політика конфіденційності</h1>
        </div>
        <div class="privacy__wrapper">
            <div class="privacy__layout">
                <aside class="privacy__sidebar">
                    <div class="privacy__sidebar-content">
                        <nav class="privacy__nav">
                            <div class="privacy__nav-list">
                                <button class="privacy__nav-button" type="button" aria-pressed="true">
                                    <span class="privacy__nav-text">Політика конфіденційності</span>
                                </button>
                                <button class="privacy__nav-button" type="button" aria-pressed="false">
                                    <span class="privacy__nav-text">Правила користування</span>
                                </button>
                            </div>
                        </nav>
                        <div class="privacy__sticky-form">
                            <div class="privacy__sticky-form-wrapper">
                                <div class="privacy__wrapper">
                                    <div class="privacy__sticky-form-content">
                                        <div class="privacy__row">
                                            <h2 class="privacy__form-title">Залишились питання?</h2>
                                        </div>
                                        <div class="privacy__row">
                                            <p class="privacy__form-text">
                                                Якщо залишились питання або маєте пропозиції, заповніть
                                                форму і наша команда зв'яжиться з вами щонайшвидше
                                            </p>
                                        </div>
                                        <div class="privacy__form-wrapper">
                                            <form class="privacy__form" role="form" id="contact-form"
                                                aria-label="Форма зворотного зв'язку">
                                                <div class="article__form-fields">
                                                    <div class="article__section">
                                                        <div class="article__field-container">
                                                            <div class="article__field">
                                                                <div class="article__field-inner">
                                                                    <div class="article__field-wrapper">
                                                                        <label for="name" class="sr-only">Ваше
                                                                            ім'я</label>
                                                                        <input type="text" id="name" name="name"
                                                                            class="article__input"
                                                                            placeholder="Ваше ім'я" required />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="article__section">
                                                        <div class="article__field-container">
                                                            <div class="article__field">
                                                                <div class="article__field-inner">
                                                                    <div class="article__field-wrapper">
                                                                        <label for="phone"
                                                                            class="sr-only">Телефон</label>
                                                                        <input type="tel" id="phone" name="phone"
                                                                            class="article__input" placeholder="Телефон"
                                                                            required />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="article__section">
                                                        <div class="article__field-container">
                                                            <div class="article__field">
                                                                <div class="article__field-inner">
                                                                    <div class="article__field-wrapper">
                                                                        <label for="email" class="sr-only">Email</label>
                                                                        <input type="email" id="email" name="email"
                                                                            class="article__input" placeholder="Email"
                                                                            required />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="privacy__buttons-wrapper">
                                                <button type="submit" class="contacts__submit-button"
                                                    aria-label="Надіслати запит на консультацію">
                                                    <span class="contacts__button-content">
                                                        <span class="contacts__button-text">
                                                            Надіслати запит
                                                        </span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17"
                                                            viewBox="0 0 16 17" fill="none">
                                                            <g clip-path="url(#clip0_2008_1232)">
                                                                <path
                                                                    d="M12.0695 2.87376C12.5025 3.01808 12.8422 3.35782 12.9865 3.79079C13.1334 4.23142 13.7567 4.23142 13.9036 3.79079C14.0479 3.35782 14.3876 3.01808 14.8206 2.87376C15.2612 2.72688 15.2612 2.10361 14.8206 1.95673C14.3876 1.81241 14.0479 1.47267 13.9036 1.03971C13.7567 0.599069 13.1334 0.599069 12.9865 1.03971C12.8422 1.47267 12.5025 1.81241 12.0695 1.95673C11.6289 2.10361 11.6289 2.72688 12.0695 2.87376Z"
                                                                    fill="white" />
                                                                <path
                                                                    d="M15.0999 7.37484L2.37499 1.64862C1.3467 1.18588 0.237873 2.11314 0.511361 3.20709L1.397 6.74964C1.53942 7.31931 2.03375 7.73158 2.61974 7.76938L15.5857 8.6059L2.61974 9.44241C2.03375 9.48021 1.53942 9.89248 1.397 10.4622L0.511361 14.0047C0.237873 15.0987 1.34669 16.0259 2.37499 15.5632L15.0999 9.83696C16.1612 9.35936 16.1612 7.85243 15.0999 7.37484Z"
                                                                    fill="white" />
                                                            </g>
                                                            <defs>
                                                                <clipPath id="clip0_2008_1232">
                                                                    <rect width="16" height="16" fill="white"
                                                                        transform="translate(0 0.5)" />
                                                                </clipPath>
                                                            </defs>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="privacy__main">
                    <div class="privacy__content">
                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">1. Планування на тиждень наперед</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Добре спланований тиждень — це запорука продуктивної роботи.
                                    Замість того, щоб щодня витрачати час на планування завдань,
                                    виділіть час наприкінці кожного тижня для складання плану на
                                    наступний. Це дозволить вам не тільки заздалегідь розставити
                                    пріоритети, а й передбачити можливі проблеми.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">2. Делегуйте завдання</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Власники бізнесів часто прагнуть виконувати всі завдання
                                    самостійно, що призводить до перевантаження та зниження якості
                                    роботи. Делегування — це ключовий елемент ефективного
                                    управління часом. Визначте завдання, які можуть бути виконані
                                    іншими членами команди, і передайте їх.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">1. Планування на тиждень наперед</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Добре спланований тиждень — це запорука продуктивної роботи.
                                    Замість того, щоб щодня витрачати час на планування завдань,
                                    виділіть час наприкінці кожного тижня для складання плану на
                                    наступний. Це дозволить вам не тільки заздалегідь розставити
                                    пріоритети, а й передбачити можливі проблеми.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">2. Делегуйте завдання</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Власники бізнесів часто прагнуть виконувати всі завдання
                                    самостійно, що призводить до перевантаження та зниження якості
                                    роботи. Делегування — це ключовий елемент ефективного
                                    управління часом. Визначте завдання, які можуть бути виконані
                                    іншими членами команди, і передайте їх.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">1. Планування на тиждень наперед</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Добре спланований тиждень — це запорука продуктивної роботи.
                                    Замість того, щоб щодня витрачати час на планування завдань,
                                    виділіть час наприкінці кожного тижня для складання плану на
                                    наступний. Це дозволить вам не тільки заздалегідь розставити
                                    пріоритети, а й передбачити можливі проблеми.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">2. Делегуйте завдання</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Власники бізнесів часто прагнуть виконувати всі завдання
                                    самостійно, що призводить до перевантаження та зниження якості
                                    роботи. Делегування — це ключовий елемент ефективного
                                    управління часом. Визначте завдання, які можуть бути виконані
                                    іншими членами команди, і передайте їх.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">1. Планування на тиждень наперед</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Добре спланований тиждень — це запорука продуктивної роботи.
                                    Замість того, щоб щодня витрачати час на планування завдань,
                                    виділіть час наприкінці кожного тижня для складання плану на
                                    наступний. Це дозволить вам не тільки заздалегідь розставити
                                    пріоритети, а й передбачити можливі проблеми.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">2. Делегуйте завдання</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Власники бізнесів часто прагнуть виконувати всі завдання
                                    самостійно, що призводить до перевантаження та зниження якості
                                    роботи. Делегування — це ключовий елемент ефективного
                                    управління часом. Визначте завдання, які можуть бути виконані
                                    іншими членами команди, і передайте їх.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">1. Планування на тиждень наперед</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Добре спланований тиждень — це запорука продуктивної роботи.
                                    Замість того, щоб щодня витрачати час на планування завдань,
                                    виділіть час наприкінці кожного тижня для складання плану на
                                    наступний. Це дозволить вам не тільки заздалегідь розставити
                                    пріоритети, а й передбачити можливі проблеми.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">2. Делегуйте завдання</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Власники бізнесів часто прагнуть виконувати всі завдання
                                    самостійно, що призводить до перевантаження та зниження якості
                                    роботи. Делегування — це ключовий елемент ефективного
                                    управління часом. Визначте завдання, які можуть бути виконані
                                    іншими членами команди, і передайте їх.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">1. Планування на тиждень наперед</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Добре спланований тиждень — це запорука продуктивної роботи.
                                    Замість того, щоб щодня витрачати час на планування завдань,
                                    виділіть час наприкінці кожного тижня для складання плану на
                                    наступний. Це дозволить вам не тільки заздалегідь розставити
                                    пріоритети, а й передбачити можливі проблеми.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">2. Делегуйте завдання</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Власники бізнесів часто прагнуть виконувати всі завдання
                                    самостійно, що призводить до перевантаження та зниження якості
                                    роботи. Делегування — це ключовий елемент ефективного
                                    управління часом. Визначте завдання, які можуть бути виконані
                                    іншими членами команди, і передайте їх.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">1. Планування на тиждень наперед</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Добре спланований тиждень — це запорука продуктивної роботи.
                                    Замість того, щоб щодня витрачати час на планування завдань,
                                    виділіть час наприкінці кожного тижня для складання плану на
                                    наступний. Це дозволить вам не тільки заздалегідь розставити
                                    пріоритети, а й передбачити можливі проблеми.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">2. Делегуйте завдання</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Власники бізнесів часто прагнуть виконувати всі завдання
                                    самостійно, що призводить до перевантаження та зниження якості
                                    роботи. Делегування — це ключовий елемент ефективного
                                    управління часом. Визначте завдання, які можуть бути виконані
                                    іншими членами команди, і передайте їх.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">1. Планування на тиждень наперед</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Добре спланований тиждень — це запорука продуктивної роботи.
                                    Замість того, щоб щодня витрачати час на планування завдань,
                                    виділіть час наприкінці кожного тижня для складання плану на
                                    наступний. Це дозволить вам не тільки заздалегідь розставити
                                    пріоритети, а й передбачити можливі проблеми.
                                </p>
                            </div>
                        </div>

                        <div class="privacy__section">
                            <div class="privacy__row">
                                <h3 class="privacy__section-title">2. Делегуйте завдання</h3>
                            </div>
                            <div class="privacy__row">
                                <p class="privacy__section-text">
                                    Власники бізнесів часто прагнуть виконувати всі завдання
                                    самостійно, що призводить до перевантаження та зниження якості
                                    роботи. Делегування — це ключовий елемент ефективного
                                    управління часом. Визначте завдання, які можуть бути виконані
                                    іншими членами команди, і передайте їх.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>