<section class="error-page">

    <div class="error-page__content">
        <nav class="breadcrumbs" aria-label="Навігаційні хлібні крихти">
            <ol class="breadcrumbs__list">
                <li class="breadcrumbs__item breadcrumbs__item-item-hover">
                    <a href="/" class="breadcrumbs__link" aria-label="Перейти на головну сторінку">Головна</a>
                    <svg class="breadcrumbs__separator" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        viewBox="0 0 16 16" fill="none" aria-hidden="true">
                        <path
                            d="M10.7215 8.91378C11.2047 8.40038 11.2047 7.59954 10.7215 7.08614L5.81815 1.87638C5.56581 1.60827 5.14389 1.59548 4.87577 1.84783C4.60766 2.10017 4.59487 2.52209 4.84722 2.7902L9.75052 7.99996L4.84722 13.2097C4.59487 13.4778 4.60766 13.8998 4.87577 14.1521C5.14389 14.4044 5.56581 14.3917 5.81815 14.1235L10.7215 8.91378Z"
                            fill="currentColor" />
                    </svg>
                </li>
                <li class="breadcrumbs__item">
                    <span class="breadcrumbs__text" aria-current="page">Сторінку не знайдено!</span>
                </li>
            </ol>
        </nav>

        <div class="error-page__line">
            <h1 class="error-page__title">404...Сторінку не знайдено!</h1>
        </div>

        <div class="error-page__image-wrapper" aria-label="404 illustration">
            <div class="error-page__image-container">
                <img class="error-page__image" src="img/404-min.png" alt="404 error illustration" />
            </div>
        </div>
        <div class="error-page__line">

            <p class="error-page__description">
                Сторінка, яку ви шукаєте, може бути видалена, її назва була змінена
                або вона тимчасово недоступна.
            </p>

        </div>
        <div class="error-page__button-wrapper">
            <a href="/" class="error-page__button" role="button" aria-label="Повернутись на головну сторінку">
                <div class="error-page__button-content">
                    <svg class="error-page__button-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="17"
                        viewBox="0 0 16 17" fill="none">
                        <path
                            d="M5.02842 9.4139C4.54522 8.9005 4.54522 8.09966 5.02842 7.58626L9.93172 2.37651C10.1841 2.10839 10.606 2.09561 10.8741 2.34795C11.1422 2.60029 11.155 3.02221 10.9026 3.29033L5.99935 8.50008L10.9026 13.7098C11.155 13.978 11.1422 14.3999 10.8741 14.6522C10.606 14.9046 10.1841 14.8918 9.93172 14.6237L5.02842 9.4139Z"
                            fill="white" />
                    </svg>
                    <p class="error-page__button-text">Повернутись на головну</p>
                </div>
            </a>
        </div>
    </div>
</section>