<footer class="footer">
    <div class="footer__bg" aria-hidden="true"></div>
    <div class="footer__content">
        <div class="footer__info">
            <div class="footer__info-container">
                <div class="footer__logo-wrapper">
                    <svg class="footer__logo">
                        <use href="./img/logo.svg"></use>
                    </svg>
                </div>
                <div class="footer__contacts-wrapper">
                    <div class="footer__contacts">
                        <div class="footer__contacts-info">
                            <p class="footer__contacts-text">
                                НГО «Діджітал простір» 04128, Україна, Київ,<br>
                                Керівник організації: Шаповал Олена Сергіївна,<br>
                                Електрона пошта: prostir.digital.sa@gmail.com
                            </p>
                        </div>
                        <div class="footer__links" aria-label="Footer links">
                            <a href="/privacy.html" class="footer__link">
                                <p class="footer__link-text">Політика конфіденційності</p>
                            </a>
                            <a href="#" class="footer__link">
                                <p class="footer__link-text">Документи</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright-wrapper">
                    <div class="footer__copyright">
                        <div class="footer__copyright-info">
                            <p class="footer__copyright-text">
                                © 2025 Digital Prostir®. All content is available under the <br />Creative
                                Commons Attribution 4.0 International license unless otherwise noted.
                            </p>
                        </div>
                        <div class="footer__developer">
                            <a href="https://link" target="_blank" rel="noopener noreferrer">
                                <span class="footer__developer-text">Developed by the company</span>
                            </a>
                            <div class="footer__developer-logo" aria-label="Shapoval Logo">
                                <div class="footer__developer-logo-wrapper">
                                    <svg class="footer__developer-logo-svg">
                                        <use href="./img/shapoval-logo.svg"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="footer__nav">
            <div class="footer__nav-content">
                <div class="footer__nav-section">
                    <div class="footer__nav-courses">
                        <div class="footer__nav-header">
                            <h3 class="footer__nav-title">Курси</h3>
                            <div class="footer__separator"> </div>
                        </div>
                        <nav class="footer__nav-list" aria-label="Courses">
                            <div class="footer__nav-items">
                                <div class="footer__nav-item">
                                    <a href="/coursesarticle.html" class="footer__nav-button" role="button">
                                        <div class="footer__nav-button-content">
                                            <p class="footer__nav-button-text">Створення та монетизація Reels</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="footer__nav-item">
                                    <a href="#" class="footer__nav-button" role="button">
                                        <div class="footer__nav-button-content">
                                            <p class="footer__nav-button-text">Реклама в Facebook та Instagram</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="footer__nav-item">
                                    <a href="#" class="footer__nav-button" role="button">
                                        <div class="footer__nav-button-content">
                                            <p class="footer__nav-button-text">Digital організація</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <nav class="footer__nav-section" aria-label="Main navigation">
                    <div class="footer__nav-items">
                        <div class="footer__nav-item">
                            <a href="/digital-prostir/about.html" class="footer__nav-button" role="button">
                                <div class="footer__nav-button-content">
                                    <p class="footer__nav-button-text">Проєкт</p>
                                    <svg class="footer__nav-button-icon" xmlns="http://www.w3.org/2000/svg" width="17"
                                        height="17" viewBox="0 0 17 17" fill="none">
                                        <path
                                            d="M11.2219 9.41366C11.7051 8.90026 11.7051 8.09942 11.2219 7.58602L6.31864 2.37626C6.06629 2.10815 5.64438 2.09536 5.37626 2.34771C5.10815 2.60005 5.09536 3.02197 5.34771 3.29008L10.251 8.49984L5.34771 13.7096C5.09536 13.9777 5.10815 14.3996 5.37626 14.652C5.64438 14.9043 6.0663 14.8915 6.31864 14.6234L11.2219 9.41366Z"
                                            fill="white" />
                                    </svg>
                                </div>
                            </a>
                            <div class="footer__separator"> </div>
                        </div>
                        <div class="footer__nav-item">
                            <a href="/digital-prostir/blogpage.html" class="footer__nav-button" role="button">
                                <div class="footer__nav-button-content">
                                    <p class="footer__nav-button-text">Блог</p>
                                    <svg class="footer__nav-button-icon" xmlns="http://www.w3.org/2000/svg" width="17"
                                        height="17" viewBox="0 0 17 17" fill="none">
                                        <path
                                            d="M11.2219 9.41366C11.7051 8.90026 11.7051 8.09942 11.2219 7.58602L6.31864 2.37626C6.06629 2.10815 5.64438 2.09536 5.37626 2.34771C5.10815 2.60005 5.09536 3.02197 5.34771 3.29008L10.251 8.49984L5.34771 13.7096C5.09536 13.9777 5.10815 14.3996 5.37626 14.652C5.64438 14.9043 6.0663 14.8915 6.31864 14.6234L11.2219 9.41366Z"
                                            fill="white" />
                                    </svg>
                                </div>
                            </a>
                            <div class="footer__separator"> </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
    </div>
</footer>