<section class="news" aria-labelledby="news-heading">
    <div class="news__content">
        <header class="news__header">
            <div class="news__title-wrapper">
                <h3 id="news-heading" class="news__title">Інші статті</h3>
            </div>
            <nav class="news__nav" aria-label="Навігація по новинах">
                <div class="news__controls">
                    <div class="news__buttons">
                        <button class="news__button news-button-prev" type="button" aria-label="Попередня сторінка"
                            title="Попередня сторінка">
                            <div class="news__button-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"
                                    fill="none">
                                    <path
                                        d="M5.0289 9.41366C4.5457 8.90026 4.5457 8.09942 5.0289 7.58602L9.93221 2.37626C10.1845 2.10815 10.6065 2.09536 10.8746 2.34771C11.1427 2.60005 11.1555 3.02197 10.9031 3.29008L5.99984 8.49984L10.9031 13.7096C11.1555 13.9777 11.1427 14.3996 10.8746 14.652C10.6065 14.9043 10.1845 14.8915 9.9322 14.6234L5.0289 9.41366Z"
                                        fill="#5B5AFF" />
                                </svg>
                            </div>
                        </button>
                        <button class="news__button news-button-next" type="button" aria-label="Наступна сторінка"
                            title="Наступна сторінка">
                            <div class="news__button-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"
                                    fill="none">
                                    <path
                                        d="M10.7219 9.41366C11.2051 8.90026 11.2051 8.09942 10.7219 7.58602L5.81864 2.37626C5.56629 2.10815 5.14438 2.09536 4.87626 2.34771C4.60815 2.60005 4.59536 3.02197 4.84771 3.29008L9.75101 8.49984L4.84771 13.7096C4.59536 13.9777 4.60815 14.3996 4.87626 14.652C5.14438 14.9043 5.5663 14.8915 5.81864 14.6234L10.7219 9.41366Z"
                                        fill="#5B5AFF" />
                                </svg>
                            </div>
                        </button>
                    </div>
                    <div class="news__blog-link-wrapper">
                        <div class="news__blog-link">
                            <a href="#" class="news__blog-link-content" role="button" aria-label="Перейти до блогу">
                                <p class="news__blog-link-text">До блогу</p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17"
                                    fill="none">
                                    <path
                                        d="M9.16667 3.16667C9.16667 2.79848 8.86819 2.5 8.5 2.5C8.13181 2.5 7.83333 2.79848 7.83333 3.16667V7.83333H3.16667C2.79848 7.83333 2.5 8.13181 2.5 8.5C2.5 8.86819 2.79848 9.16667 3.16667 9.16667H7.83333V13.8333C7.83333 14.2015 8.13181 14.5 8.5 14.5C8.86819 14.5 9.16667 14.2015 9.16667 13.8333V9.16667H13.8333C14.2015 9.16667 14.5 8.86819 14.5 8.5C14.5 8.13181 14.2015 7.83333 13.8333 7.83333H9.16667V3.16667Z"
                                        fill="white" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="swiper news-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <article class="news__card">
                        <div class="news__card-content">
                            <div class="news__card-image-wrapper">
                                <div class="news__card-image-container">
                                    <img class="news__card-image" src="/img/img-min-news.png"
                                        aria-label="Зображення статті" />
                                </div>
                            </div>
                            <div class="news__card-info">
                                <div class="news__card-details">
                                    <div class="news__badge-wrapper">
                                        <div class="news__badge">
                                            <p class="news__badge-text">categoryBadge</p>
                                        </div>
                                    </div>
                                    <div class="news__card-text-wrapper">
                                        <div class="news__card-text-content">
                                            <div class="news__card-title-wrapper">
                                                <h5 class="news__card-title">Nascetur lorem malesuada eget luctus
                                                    hendrerit class
                                                    bibendum convallis aliquet senectus nibh quisque venenatis proin
                                                    cras
                                                    sociosqu vitae</h5>
                                            </div>
                                            <div class="news__card-description-wrapper">
                                                <p class="news__card-description">Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing
                                                    elit. Proin ligula diam, tempus ut egestas at, blandit a neque. Nam
                                                    consectetur urna nec ex...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="swiper-slide">
                    <article class="news__card">
                        <div class="news__card-content">
                            <div class="news__card-image-wrapper">
                                <div class="news__card-image-container">
                                    <img class="news__card-image" src="/img/img-min-news.png"
                                        aria-label="Зображення статті" />
                                </div>
                            </div>
                            <div class="news__card-info">
                                <div class="news__card-details">
                                    <div class="news__badge-wrapper">
                                        <div class="news__badge">
                                            <p class="news__badge-text">featuredPost</p>
                                        </div>
                                    </div>
                                    <div class="news__card-text-wrapper">
                                        <div class="news__card-text-content">
                                            <div class="news__card-title-wrapper">
                                                <h5 class="news__card-title">Congue parturient dictumst penatibus
                                                    suspendisse
                                                    scelerisque montes ridiculus netus vulputate nostra magnis
                                                    sollicitudin euismod.</h5>
                                            </div>
                                            <div class="news__card-description-wrapper">
                                                <p class="news__card-description">Aenean lacinia bibendum nulla sed
                                                    consectetur.
                                                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                                                    Donec sed
                                                    odio dui. Fusce dapibus, tellus ac cursus commodo...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="swiper-slide">
                    <article class="news__card">
                        <div class="news__card-content">
                            <div class="news__card-image-wrapper">
                                <div class="news__card-image-container">
                                    <img class="news__card-image" src="/img/img-min-news.png"
                                        aria-label="Зображення статті" />
                                </div>
                            </div>
                            <div class="news__card-info">
                                <div class="news__card-details">
                                    <div class="news__badge-wrapper">
                                        <div class="news__badge">
                                            <p class="news__badge-text">systemUpdate</p>
                                        </div>
                                    </div>
                                    <div class="news__card-text-wrapper">
                                        <div class="news__card-text-content">
                                            <div class="news__card-title-wrapper">
                                                <h5 class="news__card-title">Taciti lobortis aptent velit ullamcorper
                                                    morbi porta quam
                                                    ultrices fames leo mollis purus ad inceptos.</h5>
                                            </div>
                                            <div class="news__card-description-wrapper">
                                                <p class="news__card-description">Curabitur blandit tempus porttitor.
                                                    Etiam porta sem
                                                    malesuada magna mollis euismod. Maecenas faucibus mollis interdum.
                                                    Nullam id dolor id nibh ultricies vehicula ut id elit...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="swiper-slide">
                    <article class="news__card">
                        <div class="news__card-content">
                            <div class="news__card-image-wrapper">
                                <div class="news__card-image-container">
                                    <img class="news__card-image" src="/img/img-min-news.png"
                                        aria-label="Зображення статті" />
                                </div>
                            </div>
                            <div class="news__card-info">
                                <div class="news__card-details">
                                    <div class="news__badge-wrapper">
                                        <div class="news__badge">
                                            <p class="news__badge-text">researchPaper</p>
                                        </div>
                                    </div>
                                    <div class="news__card-text-wrapper">
                                        <div class="news__card-text-content">
                                            <div class="news__card-title-wrapper">
                                                <h5 class="news__card-title">Urna consequat dis facilisis fermentum
                                                    placerat laoreet
                                                    eros himenaeos dapibus iaculis litora tellus mattis.</h5>
                                            </div>
                                            <div class="news__card-description-wrapper">
                                                <p class="news__card-description">Vestibulum id ligula porta felis
                                                    euismod semper. Cras
                                                    justo odio, dapibus ac facilisis in, egestas eget quam. Integer
                                                    posuere
                                                    erat a ante venenatis dapibus posuere velit aliquet...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="swiper-slide">
                    <article class="news__card">
                        <div class="news__card-content">
                            <div class="news__card-image-wrapper">
                                <div class="news__card-image-container">
                                    <img class="news__card-image" src="/img/img-min-news.png"
                                        aria-label="Зображення статті" />
                                </div>
                            </div>
                            <div class="news__card-info">
                                <div class="news__card-details">
                                    <div class="news__badge-wrapper">
                                        <div class="news__badge">
                                            <p class="news__badge-text">community</p>
                                        </div>
                                    </div>
                                    <div class="news__card-text-wrapper">
                                        <div class="news__card-text-content">
                                            <div class="news__card-title-wrapper">
                                                <h5 class="news__card-title">Viverra potenti cubilia sociis integer
                                                    dictumst hac
                                                    torquent auctor justo quis per feugiat gravida.</h5>
                                            </div>
                                            <div class="news__card-description-wrapper">
                                                <p class="news__card-description">Donec ullamcorper nulla non metus
                                                    auctor fringilla.
                                                    Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam.
                                                    Pellentesque ornare sem lacinia quam venenatis vestibulum...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>