<section class="development-support">
    <div class="development-support__content">
        <div class="development-support__title-wrapper">
            <h3 class="development-support__title">Як ми сприяємо розвитку</h3>
        </div>
        <div class="development-support__cards-wrapper">
            <div class="development-support__cards-list">
                <div class="development-support__decor development-support__decor--left">
                    <div class="development-support__decor-placeholder"></div>
                </div>
                <article class="development-support__card">
                    <div class="development-support__card-content">
                        <!-- <span class="development-support__card-badge" aria-label="Категорія">
                            <p class="development-support__card-badge-text">categoryBadge</p>
                        </span> -->
                        <div class="development-support__card-info">
                            <div class="development-support__card-info-inner">
                                <div class="development-support__card-title-wrapper">
                                    <h5 class="development-support__card-title">Блог</h5>
                                </div>
                                <div class="development-support__card-description">
                                    <p class="development-support__card-text">Корисні матеріали з практичними порадами
                                        про рекламу, контент та ШІ</p>
                                </div>
                            </div>
                        </div>
                        <div class="development-support__card-image-wrapper">
                            <div class="development-support__card-image-bg">
                                <img class="development-support__card-image"
                                    src="img/a68c286fc46aff72ef5fbab7a2194840ee4f4098-min.png"
                                    alt="Блог - корисні матеріали про рекламу та контент" />
                            </div>
                        </div>
                    </div>
                </article>
                <article class="development-support__card">
                    <div class="development-support__card-content">
                        <!-- <span class="development-support__card-badge" aria-label="Категорія">
                            <p class="development-support__card-badge-text">categoryBadge</p>
                        </span> -->
                        <div class="development-support__card-info">
                            <div class="development-support__card-info-inner">
                                <div class="development-support__card-title-wrapper">
                                    <h5 class="development-support__card-title">Курси</h5>
                                </div>
                                <div class="development-support__card-description">
                                    <p class="development-support__card-text">Безкоштовні курси на тему реклами,
                                        створення відео та роботи зі штучним інтелектом</p>
                                </div>
                            </div>
                        </div>
                        <div class="development-support__card-image-wrapper">
                            <div class="development-support__card-image-bg">
                                <img class="development-support__card-image"
                                    src="img/f1bad5410395defb58dfbbfc951fc50d6b4525ae-min.png"
                                    alt="Курси - безкоштовні курси з реклами та ШІ" />
                            </div>
                        </div>
                    </div>
                </article>
                <article class="development-support__card">
                    <div class="development-support__card-content">
                        <!-- <span class="development-support__card-badge" aria-label="Категорія">
                            <p class="development-support__card-badge-text">categoryBadge</p>
                        </span> -->
                        <div class="development-support__card-info">
                            <div class="development-support__card-info-inner">
                                <div class="development-support__card-title-wrapper">
                                    <h5 class="development-support__card-title">Спільнота</h5>
                                </div>
                                <div class="development-support__card-description">
                                    <p class="development-support__card-text">Об'єднуємо людей, котрі розвиваються в
                                        Digital сфері і прагнуть більшого</p>
                                </div>
                            </div>
                        </div>
                        <div class="development-support__card-image-wrapper">
                            <div class="development-support__card-image-bg">
                                <img class="development-support__card-image development-support__card-image--variant"
                                    src="img/b30a54de24195c674fd0e2d999781ea0fc19d800-min.png"
                                    alt="Спільнота - об'єднання людей у Digital сфері" />
                            </div>
                        </div>
                    </div>
                </article>
                <div class="development-support__decor development-support__decor--right">
                    <div class="development-support__decor-placeholder"></div>
                </div>
            </div>
        </div>
    </div>
</section>