<section class="our-team-section" aria-labelledby="team-heading">
    <div class="content">
        <header class="line">
            <h3 id="team-heading" class="text">Наша команда</h3>
        </header>
        <div class="div-wrapper">
            <div class="div">
                <article class="column">
                    <div class="content-2">
                        <div class="bg-wrapper"> <img class="bg"
                                src="img/21aee00cf5e20224ade6d0f2be2e74b3f05852af-min.png" alt="Фото Ярослава" /> </div>
                        <div class="div-wrapper">
                            <div class="content-3">
                                <div class="div-wrapper">
                                    <h5 class="text-wrapper">Ярослав</h5>
                                </div>
                                <div class="line-2">
                                    <p class="text-2">Волонтер НГО «Діджітал простір»</p>
                                </div>
                                <div class="line-2">
                                    <p class="text-3">Експертиза: контент, стратегія, ШІ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="column">
                    <div class="content-2">
                        <div class="bg-wrapper"> <img class="bg"
                                src="img/befb5b620fb7f200f68e0088c66063eacc5c2a81-min.png" alt="Фото Олени" /> </div>
                        <div class="div-wrapper">
                            <div class="content-3">
                                <div class="div-wrapper">
                                    <h5 class="text-wrapper">Олена</h5>
                                </div>
                                <div class="line-2">
                                    <p class="text-2">Волонтер НГО «Діджітал простір»</p>
                                </div>
                                <div class="line-2">
                                    <p class="text-3">Експертиза: реклама, digital-маркетинг</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="column">
                    <div class="content-2">
                        <div class="bg-wrapper"> <img class="bg"
                                src="img/719df39f45a1893d8bf415ea893137fb6eeec956-min.png" alt="Фото Олексія" /> </div>
                        <div class="div-wrapper">
                            <div class="content-3">
                                <div class="div-wrapper">
                                    <h5 class="text-wrapper">Олексій</h5>
                                </div>
                                <div class="line-2">
                                    <p class="text-2">Волонтер НГО «Діджітал простір»</p>
                                </div>
                                <div class="line-2">
                                    <p class="text-3">Експертиза: відео монтаж</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>