<section class="team" aria-labelledby="team-heading">
    <div class="team__content">
        <div class="team__header">
            <h3 id="team-heading" class="team__title">Наша команда</h3>
        </div>
        <div class="team__wrapper">
            <ul class="team__list">
                <li class="team__member">
                    <div class="team__member-content">
                        <div class="team__photo-wrapper">
                            <img class="team__photo transform"
                                src="img/d6c2bf78cca455438518e5e400c5203990fd9ba9-min.png" alt="Фото Ярослава" />
                        </div>
                        <div class="team__info-wrapper">
                            <div class="team__info">
                                <div class="team__name-wrapper">
                                    <h5 class="team__name">Ярослав</h5>
                                </div>
                                <div class="team__role-wrapper">
                                    <p class="team__role">Волонтер НГО «Діджітал простір»</p>
                                </div>
                                <div class="team__expertise-wrapper">
                                    <p class="team__expertise">Експертиза: контент, стратегія, ШІ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="team__member">
                    <div class="team__member-content">
                        <div class="team__photo-wrapper">
                            <img class="team__photo tranform3"
                                src="img/367973a8c64c99007f665750145a89e86cad36a7-min.png" alt="Фото Олени" />
                        </div>
                        <div class="team__info-wrapper">
                            <div class="team__info">
                                <div class="team__name-wrapper">
                                    <h5 class="team__name">Олена</h5>
                                </div>
                                <div class="team__role-wrapper">
                                    <p class="team__role">Волонтер НГО «Діджітал простір»</p>
                                </div>
                                <div class="team__expertise-wrapper">
                                    <p class="team__expertise">Експертиза: реклама, digital-маркетинг</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="team__member">
                    <div class="team__member-content">
                        <div class="team__photo-wrapper">
                            <img class="team__photo transform2"
                                src="img/22dc9460fd8a19e16fdb085cad045f7405fa5077-min.png" alt="Фото Олексія" />
                        </div>
                        <div class="team__info-wrapper">
                            <div class="team__info">
                                <div class="team__name-wrapper">
                                    <h5 class="team__name">Олексій</h5>
                                </div>
                                <div class="team__role-wrapper">
                                    <p class="team__role">Волонтер НГО «Діджітал простір»</p>
                                </div>
                                <div class="team__expertise-wrapper">
                                    <p class="team__expertise">Експертиза: відео монтаж</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>