<section class="team" aria-labelledby="team-heading">
    <div class="team__content">
        <div class="team__header">
            <h3 id="team-heading" class="team__title">Наша команда</h3>
        </div>
        <div class="team__wrapper">
            <div class="team__list">
                <article class="team__member">
                    <div class="team__member-content">
                        <div class="team__photo-wrapper">
                            <img class="team__photo" src="img/21aee00cf5e20224ade6d0f2be2e74b3f05852af-min.png"
                                alt="Фото Ярослава" />
                        </div>
                        <div class="team__info-wrapper">
                            <div class="team__info">
                                <div class="team__name-wrapper">
                                    <h5 class="team__name">Ярослав</h5>
                                </div>
                                <div class="team__role-wrapper">
                                    <p class="team__role">Волонтер НГО «Діджітал простір»</p>
                                </div>
                                <div class="team__expertise-wrapper">
                                    <p class="team__expertise">Експертиза: контент, стратегія, ШІ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="team__member">
                    <div class="team__member-content">
                        <div class="team__photo-wrapper">
                            <img class="team__photo" src="img/befb5b620fb7f200f68e0088c66063eacc5c2a81-min.png"
                                alt="Фото Олени" />
                        </div>
                        <div class="team__info-wrapper">
                            <div class="team__info">
                                <div class="team__name-wrapper">
                                    <h5 class="team__name">Олена</h5>
                                </div>
                                <div class="team__role-wrapper">
                                    <p class="team__role">Волонтер НГО «Діджітал простір»</p>
                                </div>
                                <div class="team__expertise-wrapper">
                                    <p class="team__expertise">Експертиза: реклама, digital-маркетинг</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="team__member">
                    <div class="team__member-content">
                        <div class="team__photo-wrapper">
                            <img class="team__photo" src="img/719df39f45a1893d8bf415ea893137fb6eeec956-min.png"
                                alt="Фото Олексія" />
                        </div>
                        <div class="team__info-wrapper">
                            <div class="team__info">
                                <div class="team__name-wrapper">
                                    <h5 class="team__name">Олексій</h5>
                                </div>
                                <div class="team__role-wrapper">
                                    <p class="team__role">Волонтер НГО «Діджітал простір»</p>
                                </div>
                                <div class="team__expertise-wrapper">
                                    <p class="team__expertise">Експертиза: відео монтаж</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>