.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    background-color: #ffffff;
}

.hero__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 0 0 auto;
}

.hero__column {
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    min-width: 288px;
    align-items: flex-start;
    flex: 1;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
}

.hero__header {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    gap: 24px;
    align-self: stretch;
}

.hero__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
}

.hero__title-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.hero__subtitle {
    color: var(--colors-basic-colors-grayscale-100);
    font-family: var(--fonts-family-inter);
    font-size: var(--fonts-size-54);
    font-weight: 400;
    line-height: 120%;
    margin: 0;
}

.hero__title {
    color: var(--colors-basic-colors-grayscale-100);
    font-family: var(--fonts-family-inter);
    font-size: var(--fonts-size-74);
    font-weight: 600;
    line-height: 110%;
    margin: 0;
}

.hero__description-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
}

.hero__description {
    color: var(--colors-basic-colors-grayscale-100);
    font-family: var(--fonts-family-inter);
    font-size: var(--fonts-size-29);
    font-weight: 400;
    line-height: 130%;
    margin: 0;
}

.hero__highlight {
    color: var(--colors-additional-colors-dodger-blue-80);
    font-family: var(--fonts-family-inter);
    font-size: var(--fonts-size-29);
    font-weight: 600;
    line-height: 120%;
}

.hero__action {
    display: flex;
}

.hero__button {
    color: var(--colors-neutral-0);
    font-family: var(--fonts-family-inter);
    font-size: var(--fonts-size-16);
    font-weight: 500;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    background: var(--colors-additional-colors-dodger-blue-100);
    border-radius: 99px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.hero__button:hover {
    background: var(--colors-additional-colors-dodger-blue-80);
    transition: all 0.3s ease;
}

.hero__button:active {
    background: var(--colors-additional-colors-dodger-blue-60);
}

.hero__button:focus-visible {
    outline: 2px solid #ffffff;
    outline-offset: 2px;
}

.hero__media-wrapper {
    max-width: 776px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    min-width: 288px;
    align-items: flex-start;
    position: relative;
    flex: 1;
    border-radius: 16px;
    height: 298px;
    overflow: hidden;
}

.hero__video {
    position: absolute;
    height: 298.732px;
    align-self: stretch;
    aspect-ratio: 95/86;
    width: 100%;
    /* object-fit: cover; */
    display: block;
    pointer-events: none;
}


@media (min-width: 1280px) {
    .hero {
        padding: 0px 52px;
    }

    .hero__container {
        max-width: 1540px;
        flex-wrap: nowrap;
    }

    .hero__column {
        padding: 64px 0px;
        flex-grow: 1;
    }

    .hero__content {
        gap: 48px;
    }

    .hero__header {
        gap: 45px;
    }

    .hero__info {
        gap: 32px;
    }

    .hero__subtitle {
        font-size: 54px;
        font-weight: 400;
        line-height: 120%;
    }

    .hero__title {
        font-size: 74px;
        font-weight: 600;
        line-height: 110%;
    }

    .hero__description {
        font-size: 29px;
        font-weight: 400;
        line-height: 130%;
    }

    .hero__highlight {
        font-size: 29px;
        font-weight: 600;
        line-height: 120%;
    }

    .hero__button {
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }

    .hero__media-wrapper {
        flex-grow: 1;
        display: flex;
        align-self: stretch;
        height: 697px;
        border-radius: 0;
    }

    .hero__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: darken;
    }
}